// ============= ABOUT IMPORTANT ================

.about {
   overflow: hidden;
   &__container {
      display: flex;
      align-items: flex-start;
      column-gap: 46px;
   }
   &__title {
      margin-bottom: 56px;
   }
   &__important {
      padding: 0 0 53px;
      @media screen and (max-width: $md) {
         padding: 0 0 35px;
      }
   }
}
.important-about {
   &__image {
      margin-top: -70px;
      margin-right: -16px;
      @media screen and (max-width: $pc) {
         margin-right: -70px;
      }
      @media screen and (max-width: $lg) {
         display: none;
      }
   }
   & .info-body ul li {
      &:not(:last-child) {
         margin-bottom: 22px;
      }
      @media screen and (max-width: $md) {
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }
}

// =========== ABOUT GUARANTEES =================
.about-guarantees {
   padding: 55px 0 64px;
   @media screen and (max-width: $md) {
      padding: 35px 0 35px;
   }
   &__container {
      max-width: 1324px;
      background: $greenLightColor-2;
      border-radius: 60px;
      padding: 41px 0 0;
      position: relative;
      @media screen and (max-width: $lg) {
         border-radius: 30px;
         padding: 30px 0 30px;
      }
   }
   & .container {
      display: flex;
      justify-content: flex-end;
   }
   &__image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      @media screen and (max-width: $lg) {
         display: none;
      }
   }
   &__items {
      width: 50%;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      margin-bottom: -60px;
      padding-left: 16px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: $lg) {
         width: 100%;
         gap: 20px;
         padding-left: 0;
         margin-bottom: 0;
      }
   }
   &__item {
      display: flex;
      align-items: flex-start;
      column-gap: 25px;
      background: $whiteColor;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 30px 30px;
      &:last-child {
         column-gap: 30px;
         padding: 31px 24px;
      }
      @media screen and (max-width: $lg) {
         padding: 20px;
         column-gap: 20px;
      }
      @media screen and (max-width: $md) {
         padding: 20px 15px;
         display: block;
      }
   }
   &__icon {
      margin: 2px 0 0;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $md) {
         float: left;
         margin-right: 15px;
      }
   }
   &__text {
      & p {
         font-size: 16px;
         line-height: 24px;
      }
   }
}
// =========== ABOUT ADVANTAGES =================
.about-advantages {
   padding: 55px 0 30px;
   @media screen and (max-width: $md) {
      padding: 50px 0 30px;
   }
   &__container {
   }
   &__header {
      text-align: center;
      font-size: 16px;
      line-height: math.div(24, 20) * 100%;
      margin: 0 auto 88px;
      @media screen and (max-width: $md) {
         margin: 0 auto 50px;
      }
   }
   &__title {
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      font-weight: 600;
      margin-bottom: 30px;
      font-family: "Montserrat", sans-serif;
   }
   &__subtitle {
      font-weight: 400;
      max-width: 530px;
      margin: 0 auto;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 82px 30px;
      @media screen and (max-width: $lg) {
         grid-template-columns: repeat(2, 1fr);
         gap: 60px 30px;
      }
      @media screen and (max-width: $md) {
         grid-template-columns: 1fr;
         gap: 50px 0px;
      }
   }
   &__item {
      background: $whiteColor;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 70px 32px 28px;
      position: relative;
   }
   &__icon {
      width: 85px;
      height: 85px;
      position: absolute;
      top: calc(-42.5px);
      left: calc(50% - 42.5px);
      transform-style: preserve-3d;
      @media screen and (max-width: $lg) {
         top: -30px;
      }
      &::before {
         content: "";
         position: absolute;
         background-color: $yellowColor;
         filter: blur(10px);
         border-radius: 50%;
         top: -10px;
         right: -10px;
         bottom: -10px;
         left: -10px;
         z-index: -1;
         transform: translateZ(0);
      }
   }
   &__circle {
      position: relative;
      background: $redColor;
      width: 85px;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }
   &__content {
      text-align: center;
   }
   &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
   }
}

// ========== ABOUT-DELIVERY ==============
.about-delivery {
   padding: 31px 0 65px;
   @media screen and (max-width: $md) {
      padding: 30px 0 35px;
   }
   &__container {
      text-align: center;
   }
   &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 30px;
   }
   &__text {
      max-width: 886px;
      margin: 0 auto;
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      & span {
         font-weight: 700;
      }
   }
}
