.breadcrumbs {
   padding: 31px 15px 29px;
   @media screen and (max-width: $lg) {
      padding: 15px;
   }
   &__list {
      display: flex;
      white-space: nowrap;
      overflow-x: auto;
      align-items: center;
      column-gap: 10px;
      ::-webkit-scrollbar{
         width: 0;
         height: 0;
      }
      ::-webkit-scrollbar-track{
         width: 0;
         height: 0;
         background: none;
      }
      ::-webkit-scrollbar-thumb{
         background: none;
         border: none;
         width: 0;
      }
      scrollbar-width: 0;          /* "auto" или "thin"  */
      scrollbar-color: transparent;   /* плашка скролла и дорожка */ 
   }
   &__item {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      color: $grayColor82;
      font-family: 'SourceSansPro', sans-serif;
      position: relative;
      & + .breadcrumbs__item {
         padding-left: 17px;
         &::before{
            content: ">";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: inline-block;
            color: $greenColor;
            font-size: 16px;
            line-height: math.div(24, 16) * 100%;
            font-family: inherit;
            font-weight: 600;
         }
      }
   }
   &__link {
      color: inherit;
      font-family: inherit;
   }
}

