// ================ CARD-SLIDER ================================
.main-card {
   &__wrapper {
      display: flex;
      column-gap: 51px;
      padding-bottom: 18px;
      @media screen and (max-width: $pc) {
         column-gap: 20px;
      }
      @media screen and (max-width: $lg) {
         flex-direction: column;
         gap: 20px;
      }
   }
   &__sold {
      top: 13px;
      right: 120px;
      @media screen and (max-width: $md) {
         right: auto;
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &__sale {
      font-size: 20px;
      right: 50px;
      top: 20px;
      width: 70px;
      height: 70px;
      @media screen and (max-width: $md) {
         font-size: 16px;
         height: 50px;
         right: 0px;
         top: 13px;
         width: 50px;
      }
   }
}
.main-card-slider {
   display: flex;
   flex: 0 0 math.div(602, 1140) * 100%;
   max-width: 602px;
   max-height: 446px;
   position: relative;
   @media screen and (max-width: $lg) {
      flex: 0;
      align-self: center;
   }
   @media screen and (max-width: $md) {
      max-width: initial;
      width: 100%;
      max-height: 312px;
   }
}
.thumbs-slider {
   padding: 20px;
   margin: -20px;
   flex-shrink: 0;
   &__wrapper {
      flex-direction: column;
   }
   &__item {
      width: 136px;
      height: 136px;
      flex: 0 0 136px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      transition: box-shadow 0.2s ease 0s;
      &.swiper-slide-thumb-active {
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
         background: $whiteColor;
      }
      @media screen and (max-width: $md) {
         width: 93px;
         height: 93px;
         flex: 0 0 93px;
      }
   }
   &__image {
      & img {
         max-height: 100%;
         width: 100%;
         max-width: 100%;
      }
      @media screen and (max-width: $md) {
         padding: 10px;
      }
   }
}
.base-slider {
   height: 100%;
   width: 100%;
   margin-left: 20px;
   position: relative;
   @media screen and (max-width: $md) {
      height: auto;
      margin-left: 13px;
   }
   &.disabled {
      & .base-slider__controls {
         display: none;
      }
   }
   &__item {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 78px 55px;
      @media screen and (max-width: $md) {
         padding: 53px 37px;
      }
      @media screen and (max-width: $xs) {
         padding: 30px 5px;
      }
   }
   &__image {
      padding-bottom: math.div(291, 335) * 100%;
      position: relative;
      width: 100%;
      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: auto;
         height: auto;
         object-fit: cover;
         max-width: 100%;
      }
      @media screen and (max-width: $md) {
         padding-bottom: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         & img {
            position: static;
         }
      }
   }
   &__controls {
      & .slide-arrow__prev {
         left: 14px;
         @media screen and (max-width: $md) {
            left: 9px;
         }
         @media screen and (max-width: $xs) {
            left: 0;
         }
      }
      & .slide-arrow__next {
         right: 14px;
         @media screen and (max-width: $md) {
            right: 9px;
         }
         @media screen and (max-width: $xs) {
            right: 0;
         }
      }
   }
}
.main-card {
   &__info {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   &__title {
      margin-bottom: 3px;
      &.general-title {
         margin-bottom: 3px;
         @media screen and (max-width: $md) {
            font-size: 20px;
            line-height: math.div(30, 20) * 100%;
         }
      }
   }
   &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 18px;
      margin: 9px 0 9px;
      @media screen and (max-width: $md) {
         margin: 6px 0;
      }
   }
   &__bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 23px;
      font-weight: 500;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      font-family: "Montserrat", sans-serif;
      padding: 0 0 0 5px;
      @media screen and (max-width: $lg) {
         padding: 0;
      }
      @media screen and (max-width: $md) {
         gap: 12px;
         font-size: 15px;
         line-height: math.div(20, 15) * 100%;
      }
   }
   &__favorite,
   &__compare {
      display: flex;
      align-items: center;
      gap: 9px;
      cursor: pointer;
      background: none;
      @media screen and (max-width: $md) {
         gap: 5px;
      }
      &::before {
         font-size: 21px;
         color: inherit;
      }
      &:hover {
         color: $redColor;
      }
   }
   &__games {
      position: absolute;
      left: 32px;
      bottom: 0;
      z-index: 3;
      @media screen and (max-width: $xs) {
         left: 0;
      }
   }
}
.reviews-rating {
   display: flex;
   align-items: center;
   &__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row-reverse;
      column-gap: 3px;
      & li {
         width: 27px;
         height: 27px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   &__value {
      margin-left: 8px;
      color: $grayColor82;
      text-decoration: underline;
      @media screen and (max-width: $md) {
         margin-left: 3px;
      }
   }
}
.parameters {
   display: flex;
   flex-direction: column;
   gap: 12px;
   &__label {
      color: $grayColorBD;
      line-height: math.div(24, 16) * 100%;
      flex-shrink: 0;
   }
   &__value {
      line-height: math.div(24, 16) * 100%;
      color: $mainColor;
      display: flex;
      align-items: center;
      gap: 10px 18px;
   }
   &__buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      gap: 10px;
      & form {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         gap: 10px;
      }
      @media screen and (max-width: $lg) {
         width: auto;
      }
   }
   &__button {
      background-color: transparent;
      border: 1px solid $greenColor;
      color: $greenColor;
      border-radius: 5px;
      min-height: 24px;
      min-width: 87px;
      padding: 3px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: math.div(15, 12) * 100%;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
   }
   &__warning {
      font-weight: 600;
      font-size: 11px;
      line-height: math.div(12, 11) * 100%;
      color: $pinkColor;
   }
   & a.parameters__watch {
      line-height: math.div(24, 16) * 100%;
      color: $grayColor82;
      text-decoration: underline;
      margin-left: 7px;
   }
}
.parameters-group {
   display: flex;
   align-items: center;
   column-gap: 10px;
   font-size: 16px;
   @media screen and (max-width: $md) {
      column-gap: 7px;
   }
   &--weight {
      & .parameters__buttons {
         display: none;
      }
      & .parameters__buttons.active {
         display: flex;
      }
      & .parameters__button {
         min-width: 54px;
      }
      & .parameters__value {
         margin-left: 2px;
         @media screen and (max-width: $md) {
            flex-wrap: wrap;
         }
      }
   }
   &__form {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
}
.quantity-card {
   display: flex;
   align-items: center;
   column-gap: 10px;
   &__box {
      border: 1px solid $grayColorBD;
      border-radius: 5px;
      display: flex;
      align-items: center;
      min-height: 24px;
      gap: 10px;
      max-width: 86px;
      height: 25px;
   }
   &__button,
   & button {
      height: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      background: none;
      position: relative;
      &--minus::before,
      &--plus::before,
      &--plus::after {
         content: "";
         width: 11px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         height: 1px;
         background: $blackColor;
      }
      &--plus::after {
         transform: rotate(-90deg);
      }
      &--disabled {
         pointer-events: none;
         &::before,
         &::after {
            background: $grayColorBD;
         }
      }
   }
   &__input {
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      height: 100%;
      font-family: "SourceSansPro", sans-serif;
   }
   &__prices {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      column-gap: 7px;
      font-family: "Montserrat", sans-serif;
      @media screen and (max-width: $md) {
         column-gap: 4px;
      }
   }
   &__price {
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;

      margin-left: 10px;
      &-old {
         color: $grayColorBD;
         font-size: 14px;
         line-height: math.div(20, 14) * 100%;
         text-decoration: line-through;
      }
   }
}
.actions {
   &__button {
      font-family: "Montserrat", sans-serif;
      min-width: 161px;
      min-height: 40px;
      padding: 9px 10px;
      border-radius: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      &.btn__zero {
         max-width: 161px;
         border: 1px solid $redColor;
      }
      @media screen and (max-width: $sm) {
         width: 100%;
         min-width: 100%;
      }
   }
}

// ================ CARD-FEATURES ================================
.features {
   padding: 32px 0 90px;
   @media screen and (max-width: $md) {
      padding: 30px 0 50px;
   }
   &__body {
      padding: 13px 36px 13px 16px;
      border: 1px solid $grayColorBD;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr 1.2fr 1fr 1.2fr;
      gap: 48px;
      @media screen and (max-width: $lg) {
         grid-template-columns: 1fr 1fr;
         gap: 10px;
         padding: 15px;
      }
      @media screen and (max-width: $md) {
         grid-template-columns: 1fr;
      }
   }
}
.item-features {
   display: flex;
   align-items: center;
   &__icon {
      width: 70px;
      height: 70px;
   }
   &__title {
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      color: $blackColor;
   }
}

// ================ CARD-TABS ================================
.tabs {
   padding: 0 0 65px;
   overflow: hidden;
   @media screen and (max-width: $md) {
      padding: 0 0 40px;
   }
   &__top {
      position: sticky;
      top: 0;
      width: 100%;
      background: $whiteColor;
      z-index: 10;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 4px;
         background: $grayColorF2;
      }
   }
   &__list {
      display: flex;
      align-items: center;
      column-gap: 67px;
      position: relative;
      @media screen and (max-width: $md) {
         column-gap: 20px;
      }
   }
   &__link {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      padding-bottom: 18px;
      padding-top: 10px;
      position: relative;
      cursor: pointer;
      @media screen and (max-width: $md) {
         font-size: 18px;
         line-height: math.div(20, 18) * 100%;
         padding-bottom: 12px;
      }
      &::before {
         content: "";
         position: absolute;
         border-bottom: 4px solid $redColor;
         width: 100%;
         bottom: 0;
         left: 0;
         background: $redColor;
         transform: scale(0);
         transition: transform 0.3s ease 0s;
      }
      &.active::before {
         transform: scale(1);
      }
      &.active {
         pointer-events: none;
      }
   }
   &__content {
      display: none;
      padding-top: 70px;
      @media screen and (max-width: $md) {
         padding-top: 40px;
      }
      &.show {
         display: block;
      }
   }
   &__content--description {
      padding-top: 51px;
      @media screen and (max-width: $md) {
         padding-top: 40px;
      }
   }
}
.card-compound {
   &__box {
      &:not(:last-child) {
         margin-bottom: 46px;
      }
      @media screen and (max-width: $md) {
         &:not(:last-child) {
            margin-bottom: 25px;
         }
      }
   }
   &__label {
      background: $grayColorF2;
      border-radius: 10px;
      padding: 13px 26px;
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      text-transform: uppercase;
   }
   &__body {
      padding: 35px 0 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: flex-start;
      justify-items: start;
      gap: 20px 30px;
      @media screen and (max-width: $lg) {
         grid-template-columns: repeat(4, 1fr);
      }
      @media screen and (max-width: $md) {
         padding: 20px 0 0;
         grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: $xs) {
         grid-template-columns: 1fr 1fr;
         gap: 20px;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 235px;
      position: relative;
      padding: 11px 0 0;
   }
   &__count {
      background: $greenColor;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      color: $whiteColor;
   }
   &__images {
      position: relative;
      // &:hover .card-compound__image-tooltip {
      //    transform: scale(1) translate(0, -50%);
      //    opacity: 1;
      //    visibility: visible;
      //    transition: all 0.3s ease 0s;
      // }
   }
   &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 7px;
      // padding-bottom: math.div(134, 165) * 100%;
      height: 134px;
      & img {
         // position: absolute;
         // top: 0;
         max-height: 100%;
         max-width: 100%;
      }
   }
   &__image-tooltip {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
      background: $whiteColor;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      transform: scale(0) translate3d(-50%, -50%, 0);
      opacity: 0;
      visibility: hidden;
      transform-origin: 0 0;
      transition: all 0.3s ease 0s;
      z-index: 5;
      &.show {
         transform: scale(1) translate3d(-50%, -50%, 0);
         opacity: 1;
         visibility: visible;
      }
      @media screen and (max-width: $md) {
         width: 200px;
         height: 200px;
         padding: 15px;
         left: 100%;
         & img {
            height: 100%;
         }
      }
   }
   &__company-name {
      font-weight: 400;
      line-height: math.div(24, 16) * 100%;
      color: $grayColor82;
      margin-bottom: 4px;
   }
   &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      color: $blackColor;
   }
}
.item-compound__content {
   position: relative;
   z-index: 2;
}
.label-compound-result {
   background: $greenColor;
   color: $whiteColor;
   display: flex;
   align-items: center;
   column-gap: 3px;
   &__quantity {
      text-transform: lowercase;
   }
}
.card-description {
   &__body {
      display: flex;
      align-items: center;
      column-gap: 30px;
      margin-right: -90px;
      @media screen and (max-width: $xxl) {
         margin-right: 0;
      }
      @media screen and (max-width: $lg) {
         margin: 0 -20px;
      }
   }
   &__image {
      & img {
         height: auto;
      }
      @media screen and (max-width: $lg) {
         display: none;
      }
   }
   &__content {
      background-color: $grayColorF2;
      border-radius: 30px;
      background-image: url("../img/card/descr-bg.svg");
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: auto auto;
      padding: 43px 72px 43px 63px;
      flex: 1 1 auto;
      & p {
         font-family: "SourceSansPro", sans-serif;
         font-size: 16px;
         line-height: math.div(24, 16) * 100%;
         color: $blackColor;
      }
      @media screen and (max-width: $lg) {
         padding: 30px 40px 30px 20px;
      }
   }
}
.reviews {
   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      min-height: 40px;
      font-size: 16px;
      line-height: 20px;
      padding: 10px 33px;
   }
   &__show-more.btn.btn-green {
      border: 1px solid $greenColor;
      background: transparent;
      color: $greenColor;
      max-width: 195px;
      &:hover {
         background: $greenColorHover;
         border: 1px solid transparent;
         color: $whiteColor;
      }
   }
}

.reviews-items {
   display: flex;
   flex-direction: column;
   padding: 50px 0 32px;
   @media screen and (max-width: $md) {
      padding: 30px 0 30px;
   }
}
.reviews-item {
   padding: 24px 0;
   display: flex;
   align-items: flex-start;
   column-gap: 39px;
   border-top: 1px solid $grayColorF2;
   @media screen and (max-width: $md) {
      column-gap: 20px;
      padding: 20px 0;
   }
   &__product {
      margin-bottom: 5px;
      font-weight: 500;
      & a {
         text-decoration: underline;
      }
   }
   &:last-child {
      border-bottom: 1px solid $grayColorF2;
   }
   &__rating {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-bottom: 10px;
   }
   &__text {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
   }
}
.data-reviews {
   text-align: center;
   &__icon {
      background: $redColorLight;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      flex: 0 0 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $whiteColor;
      font-weight: 500;
      font-size: 30px;
      line-height: math.div(45, 30) * 100%;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 6px;
   }
   &__name {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
   }
   &__date {
      font-weight: 600;
      font-size: 11px;
      color: $grayColor82;
   }
}

// ================ CARD-SIMILAR ================================
.products.similar {
   padding: 65px 0 65px;
   @media screen and (max-width: $md) {
      padding: 30px 0 50px;
   }
}
// ================ CARD-VIEWED ================================
.products.viewed {
   padding: 65px 0 130px;
   @media screen and (max-width: $md) {
      padding: 30px 0 65px;
   }
}
