.cart {
	padding-bottom: 130px;
	&__container {
	}
	&__inner {
		display: flex;
		gap: 30px;
	}
	&__items {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	&__empty {
		& .content-title {
			margin-bottom: 34px;
		}
		& .cart__button {
			max-width: 234px;
		}
	}
}
.cart-item {
	padding: 17px 48px 17px 26px;
	background: $whiteColor;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
	position: relative;
	&.active{
		& .cart-item__footer {
			display: block;
		}
		& .cart-item__value-compound{
			&::after{
				transform: rotate(-180deg);
			}
		}
	}
	&__main{
		display: flex;
	}
	&__image {
		margin-right: 30px;
		min-height: 126px;
		flex: 0 0 126px;
		position: relative;
		padding-bottom: 18.7%;
		align-self: stretch;
		& img{
			height: auto;
			width: auto;
			max-height: 100%;
		}
	}
	&__sale {
		top: 0;
		right: -10px;
		width: 54px;
		height: 54px;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr auto minmax(60px, 115px);
		align-items: center;
		width: 100%;
		gap: 30px;
	}
	&__info {
		flex: 1 1 auto;
	}
	&__title {
		display: inline-block;
		line-height: math.div(22, 16) * 100%;
		font-weight: 700;
		&:not(:last-child){
			margin-bottom: 12px;
		}
	}
	&__footer{
		margin-top: 10px;
		display: none;
		& ul { 
			border: 1px solid #c9c9c9;
			border-bottom: none;
			& li {
				display: grid;
				grid-template-columns: 1fr 50px;
				align-items: flex-start;
				border-bottom: 1px solid #c9c9c9;
				& > *:not(:last-child){
					border-right: 1px solid #c9c9c9;
				}
				& > * {
					padding: 5px 10px 5px 10px;
				}
			}
		}
	}
	&__label-compound{
		line-height: math.div(22, 16) * 100%;
		display: inline-flex;
		align-items: center;
		position: relative;
	}
	&__group {
		line-height: math.div(24, 16) * 100%;
		color: $grayColor82;
		column-gap: 5px;
		display: flex;
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
	&__label {
		display: inline-block;
	}
	&__value {
		&-compound{
			display: inline-flex;
			align-items: center;
			user-select: none;
			cursor: pointer;
			position: relative;
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 0;
				margin-left: 5px;
				margin-top: 2px;
				transition: all 0.3s ease 0s;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 7px solid currentColor;
				transition: transform .3s ease 0s;
			}
		}
	}
	&__quantity {
		margin-left: auto;
		min-width: 90px;
		max-width: 130px;
		height: 28px;
		background: $grayColorF2;
		border-radius: 30px;
		column-gap: 5px;
		padding: 0 12px;
	}
	&__prices {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__price {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: math.div(24, 20) * 100%;
		&_old {
			font-size: 12px;
			line-height: math.div(15, 12) * 100%;
			color: $grayColorBD;
			position: relative;
			text-decoration: line-through;
		}
	}
	&__actions {
	}
}
.quantity-card {
	&__input {
		background: transparent;
	}
}
.cart-item__quantity{
	& button{
		width: 11px;
		margin: 0;
	}
	& button::before,
	& button::after{
		content: "";
		width: 11px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 1px;
		background: $blackColor;
	}
	& button:last-child::after{
		transform: rotate(-90deg);
	}
}
.actions-cart {
	&__favorite,
	&__delete {
		position: absolute;
		background: none;
		&::before {
			color: $grayColorBD;
			font-size: 21px;
		}
	}
	&__favorite {
		top: 20px;
		right: 20px;
	}
	&__delete {
		right: 20px;
		bottom: 22px;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1.3px solid $grayColorBD;
		&::before {
			font-size: 12px;
		}
	}
}
.cart.sticky .cart-result {
	top: 20px;
	transition: top 0.3s ease 0s;
}
.cart-result {
	position: sticky;
	top: 20px;
	right: 0;
	flex: 0 0 360px;
	height: 100%;
	transition: top 0.3s ease 0s;
	&__body {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 32px 21px 30px 24px;
	}
	&__list {
		margin-bottom: 18px;
		& li {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}
	&__name {
		line-height: math.div(24, 16) * 100%;
	}
	&__value {
		line-height: math.div(22, 16) * 100%;
		font-weight: 700;
	}
	&__sum {
		padding-right: 4px;
	}
	&__button {
		min-height: 40px;
		padding: 10px;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
		max-width: 100%;
		margin: 26px 4px 0 0;
	}
}
.cart-sum {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	font-size: 20px;
	line-height: math.div(24, 20) * 100%;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}
.cart-link{
	max-width: max-content;
	&.hidden{
		display: none;
	}
}
