.category {
	padding-bottom: 64px;
	@media screen and (max-width: $md) {
		padding-bottom: 45px;
	}
	&__body {
		display: grid;
		grid-template-columns: 264px 1fr;
		gap: 30px;
		align-items: flex-start;
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
		}
		&.search-body {
			grid-template-columns: 1fr;
			gap: 0;
			& .category__cards {
				grid-template-columns: repeat(4, 1fr);
				@media screen and (max-width: 1100px) {
					gap: 15px;
					grid-template-columns: repeat(3, 1fr);
				}
				@media screen and (max-width: $md) {
					grid-template-columns: repeat(2, 1fr);
				}
				@media screen and (max-width: $sm) {
					display: block;
					& > *:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		@media screen and (max-width: 1100px) {
			gap: 15px;
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $sm) {
			display: block;
			& > *:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	&__aside {
		&-close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 15px;
			background: none;
			display: none;
			&::before {
				font-size: 18px;
				color: $redColor;
			}
			@media screen and (max-width: $lg) {
				display: block;
			}
		}
		@media screen and (max-width: $lg) {
			position: fixed;
			top: 0;
			right: -100%;
			height: 100%;
			min-height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 30;
			transition: right 0.3s ease 0s;
			background: $whiteColor;
			&.show {
				right: 0;
			}
		}
	}
	&__button {
		margin: 30px 0 0;
		width: 100%;
		min-height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 10px 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
		color: $greenColor;
		border: 1px solid $greenColor;
		background: transparent;
		border-radius: 20px;
		transition: all 0.2s linear 0s;
		&:hover {
			background: $greenColor;
			color: $whiteColor;
		}
	}
}
.category-sorting {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 28px;
	position: relative;
	&__wrapper {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: $lg) {
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;
		flex-direction: row-reverse;
	}
	&__label {
		font-family: "Montserrat", sans-serif;
		line-height: math.div(20, 16) * 100%;
		color: $grayColor82;
		display: inline-block;
		margin-right: 16px;
	}
	&__button {
		font-weight: 700;
		font-size: 16px;
		line-height: math.div(22, 16) * 100%;
		position: relative;
	}
}
.dropdown {
	position: relative;
	&__button {
		cursor: pointer;
	}
}
.dropdown-list {
	z-index: 10;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 220px;
	border-radius: 19px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
	background: $whiteColor;
	overflow: hidden;
	margin: 6px 0 0;
	border-radius: 19px;
	overflow: hidden;
	&.show {
		display: block;
	}
	& li {
		background: $whiteColor;
		font-size: 16px;
		line-height: math.div(24, 16) * 100%;
		min-height: 30px;
		border-radius: 19px;
		padding: 3px 16px;
		transition: all 0.2s linear 0s;
		cursor: pointer;
		&:last-child {
			border-radius: 19px 19px 19px 19px;
		}
	}
	& li:hover,
	& li.current {
		background: $pinkColorLight;
	}
	& li.current {
		pointer-events: none;
	}
}
.dropdown__input-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}
.filter {
	@media screen and (max-width: $lg) {
		height: 100%;
	}
	&__body {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 24px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $lg) {
			border-radius: 0px;
			box-shadow: 0;
			padding: 50px 20px 20px;
			box-shadow: none;
			min-height: 100%;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 28px;
	}
}
.filter-reset {
	font-family: "SourceSansPro", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: math.div(22, 14) * 100%;
	color: $redColor;
	background: none;
	&[disabled] {
		pointer-events: none;
		color: $grayColorBD;
	}
}
.filter-group {
	padding: 30px 24px 44px;
	margin: 0 -24px;
	border-top: 1px solid $grayColorBD;
	@media screen and (max-width: $lg) {
		padding: 25px 20px;
		margin: 0 -20px;
	}
	&__title {
		margin-bottom: 23px;
	}
	&.filter-group__material,
	&.filter-group__compound,
	&.filter-group__addit {
		padding-bottom: 33px;
	}
	&.filter-group__material .filter-group__title {
		margin-bottom: 21px;
	}
	&.filter-group__buttons {
		margin-top: auto;
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__inputs {
		display: flex;
		align-items: center;
	}
	&__label {
		& span {
			display: none;
		}
	}
	&__input {
		display: inline-flex;
		align-items: center;
		text-align: center;
		height: 24px;
		width: 94px;
		border: 1px solid $grayColorBD;
		overflow: hidden;
		border-radius: 5px;
		padding: 2px;
		font-size: 16px;
		line-height: 100%;
		color: $mainColor;
		font-family: "SourceSansPro", sans-serif;
		cursor: auto;
	}
	&__line {
		width: 17px;
		height: 1px;
		background: $grayColorBD;
		display: inline-block;
		margin: 0 5px;
	}
	&__buttons {
		display: flex;
		column-gap: 11px;
		border-top: none;
		padding-top: 10px;
		padding-bottom: 10px;
		position: sticky;
		bottom: 0;
		z-index: 2;
		background: $whiteColor;
	}
	&__btn {
		width: 100%;
		min-height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $greenColor;
		color: $whiteColor;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		padding: 8px;
		border-radius: 20px;
		border: 1px solid transparent;
		transition: all 0.2s linear 0s;
		&:hover {
			background: $greenColorHover;
		}
		&-reset {
			background: $whiteColor;
			border: 1px solid $greenColor;
			color: $greenColor;
			transition: all 0.2s linear 0s;
			&:hover {
				background: $greenColor;
				color: $whiteColor;
			}
		}
	}
	& .custom-radio {
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
		&::before {
			width: 12px;
			height: 12px;
		}
	}
	& .radiobutton-item:not(:last-child),
	& .checkbox-item:not(:last-child) {
		margin-bottom: 14px;
	}
	& .custom-checkbox::before {
		background-image: url("../img/icons/check-white.svg");
		background-size: 12px 12px;
		background-position: center;
		left: 54%;
	}
	& .real-checkbox:checked + .custom-checkbox {
		background-color: $greenColor;
		border: 1px solid transparent;
	}
}
.category-filter {
	position: relative;
	background-color: transparent;
	align-items: center;
	gap: 10px;
	display: none;
	@media screen and (max-width: $lg) {
		display: flex;
	}
	&::after {
		content: "";
		display: block;
		background-image: url("../img/icons/filter-icon.svg");
		width: 30px;
		height: 30px;
	}
}
