.collect {
	padding-bottom: 64px;
	@media screen and (max-width: $md) {
		padding-bottom: 35px;
	}
	&__body {
		display: flex;
		gap: 30px;
		@media screen and (max-width: $md) {
			flex-direction: column;
		}
	}
	&__item {
		flex: 0 0 40.2%;
		@media screen and (max-width: $pc) {
			flex: 1 1 auto;
		}
		@media screen and (max-width: $md) {
			display: flex;
			align-items: flex-end;
			& .item-prize__content {
				width: 100%;
			}
		}
		&:nth-child(1) {
			grid-area: none;
		}
		&:nth-child(2) {
			grid-area: none;
		}
		.item-prize__text {
			max-width: 95%;
			@media screen and (max-width: $lg) {
				font-size: 24px;
			}
		}
	}
}
.collect__item.item-prize--nuts-fruits::before {
	background-image: url("../img/collect/collect-nuts-bg.svg");
	background-position: 0 100%;
	top: auto;
	bottom: 0px;
	border-radius: 10px;
	box-shadow: none;
	@media screen and (max-width: $md) {
		background-size: cover;
	}
}
// COLLECT TABS
.collect-tabs {
	padding-bottom: 45px;
	@media screen and (max-width: $md) {
		padding-bottom: 20px;
	}
	& .tabs__list {
		justify-content: center;
	}
	& .tabs__content {
		padding-top: 40px;
		@media screen and (max-width: $md) {
			padding-top: 30px;
		}
	}
}

.collect {
	&__table {
		margin-bottom: 60px;
		@media screen and (max-width: $lg) {
			margin-bottom: 20px;
		}
	}
}
.collect-table {
	&__header {
		display: grid;
		grid-template-columns: 1.4fr 1fr 1fr;
		gap: 6px;
		margin-bottom: 26px;
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr minmax(50px, 0.5fr) 1fr;
			gap: 3px;
		}
	}
	&__package {
		@media screen and (max-width: $md) {
			& .collect-table__header {
				grid-template-columns: 1fr minmax(100px, 0.5fr) inmax(100px, 0.5fr);
			}
		}
		@media screen and (max-width: $md) {
			& .collect-table__th {
				&:nth-child(2) {
					word-break: break-all;
				}
			}
		}
	}
	&__th {
		background: $greenLightColor;
		min-height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		color: $whiteColor;
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		line-height: math.div(20, 16) * 100%;
		border-radius: 6px;
		@media screen and (max-width: $md) {
			font-size: 13px;
			line-height: math.div(16, 13) * 100%;
			padding: 12px 4px;
			text-align: center;
		}
	}
	&__td {
		min-height: 95px;
		display: grid;
		grid-template-columns: 1.4fr 1fr 1fr;
		align-items: center;
		text-align: center;
		padding: 0 3px;
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr minmax(50px, 0.5fr) 1fr;
			padding: 0;
		}
	}
	&__row {
		&.disabled {
			order: 1;
		}
		@media screen and (max-width: $md) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	&__name {
		display: flex;
		align-items: center;
		@media screen and (max-width: $md) {
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;
		}
	}
	&__images {
		margin-right: 14px;
		cursor: pointer;
		position: relative;
		@media screen and (max-width: $md) {
			margin-right: 0;
		}
		@media screen and (max-width: $lg) {
			&:hover .collect-table__tooltip {
				transform: scale(1) translate(0, -50%);
				opacity: 1;
				visibility: visible;
			}
		}
		&-package {
			& .collect-table__image {
				width: 210px;
				height: auto;
				@media screen and (max-width: $lg) {
					writing-mode: vertical-lr;
					width: 100%;
					max-width: 210px;
					max-height: 100%;
					height: 92px;
				}
			}
			& .collect-table__tooltip {
				width: 482px;
				height: 264px;
				left: 116px;
			}
		}
	}
	&__image {
		width: 92px;
		height: 92px;
		z-index: -1;
		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__tooltip {
		position: absolute;
		top: 50%;
		left: calc(100% + 3px);
		width: 350px;
		height: 350px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		background: $whiteColor;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 45px;
		transform: scale(0) translate(-20px, -50%);
		opacity: 0;
		visibility: hidden;
		transform-origin: 0 0;
		transition: all 0.3s ease 0s;
		z-index: 5;
		&.show {
			transform: scale(1) translate(0, -50%);
			opacity: 1;
			visibility: visible;
			transition: all 0.3s ease 0s;
		}
		@media screen and (max-width: $md) {
			width: 200px;
			height: 200px;
			padding: 15px;
			left: 100%;
			& img {
				height: 100%;
			}
		}
	}
	&__title {
		text-align: left;
		font-size: 16px;
		line-height: math.div(24, 16) * 100%;
		color: $blackColor;
		font-weight: 400;
	}
	&__value {
		line-height: math.div(24, 16) * 100%;
		color: $blackColor;
		& span::after {
			content: attr(data-type);
		}
		@media screen and (max-width: $md) {
			padding: 0 7px;
		}
	}
	&__radiobutton {
		display: flex;
		justify-content: flex-end;
		max-width: 60%;
		@media screen and (max-width: $lg) {
			max-width: 90%;
		}
	}
	&__sub-header {
		margin: 0px 0 26px;
		& .collect-table__td {
			min-height: auto;
		}
	}
	& .radiobutton-item {
		& .radiobutton-item__text {
			margin: 0 16px 0 0;
			&::after {
				content: attr(data-type);
			}
		}
		& .custom-radio {
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			border: 1px solid $grayColorBD;
			&::before {
				width: 12px;
				height: 12px;
			}
		}
		& .real-radio:checked ~ .custom-radio {
			border: 1px solid $redColor;
		}
	}
}
.collect-table .item-accordeon {
	&__header {
		background: $grayColorF2;
		min-height: 48px;
		padding: 13px 40px 13px 25px;
		font-weight: 700;
		font-size: 16px;
		line-height: math.div(22, 16) * 100%;
		border-radius: 6px;
		text-transform: uppercase;
		@media screen and (max-width: $md) {
			padding: 10px 15px;
			font-size: 14px;
			line-height: math.div(20, 16) * 100%;
			&::before {
				font-size: 18px;
			}
		}
	}
	&__content {
		padding: 10px 0 0;
		max-width: 100%;
	}
	&:not(:last-child) {
		margin-bottom: 26px;
		@media screen and (max-width: $md) {
			margin-bottom: 20px;
		}
	}
}
.collect-table .quantity-card {
	max-width: 130px;
	height: 28px;
	background: $grayColorF2;
	border-radius: 30px;
	margin: 0 auto;
	padding: 0 8px;
}

.btnInc,
.btnDec {
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	position: relative;
	font-size: 0;
	&::before,
	&::after {
		content: "";
		width: 11px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 1px;
		background: $blackColor;
	}
}
.btnInc::after {
	transform: rotate(-90deg);
}
.btnInc,
.btnDec {
	&.disabled {
		pointer-events: none;
		&::before,
		&::after {
			background: $grayColorBD;
		}
	}
}

// COLLECT FOOTER
.collect-footer {
	position: sticky;
	bottom: 0;
	z-index: 10;
	height: 94px;
	max-height: 94px;
	display: flex;
	flex-direction: column-reverse;
	transition: max-height 1s ease-in-out 0s;
	&.show {
		max-height: 100%;
		transition: max-height 1s ease-in-out 0s;
	}
	&.active {
		max-height: 100%;
		height: 100%;
	}
	@media screen and (max-width: $lg) {
		// max-height: 100%;
		// position: static;
		// height: auto;
		bottom: 65px;
	}
}
.footer-collect {
	&__reset {
		background-color: transparent;
		color: $grayColorBD;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
		border-bottom: 1px solid $grayColorBD;
		margin-top: 20px;
		transition: all 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
				border-color: $redColor;
			}
		}
		&:disabled {
			color: rgba($grayColorBD, 0.7);
			cursor: default;
			pointer-events: none;
		}
	}
	&__items {
		position: relative;
	}
	&__item {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 26px 36px 26px 26px;
		display: flex;
		align-items: flex-start;
		@media screen and (max-width: $pc) {
			padding-right: 80px;
			// display: grid;
			// grid-template-columns: 1fr 300px;
			// grid-template-rows: auto;
			// gap: 20px;
			// align-items: flex-start;
		}
		@media screen and (max-width: $lg) {
			align-items: flex-end;
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.17);
			display: grid;
			grid-template-columns: 1fr 300px;
			grid-template-rows: auto;
			gap: 20px;
			align-items: flex-start;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr 1fr;
			padding: 20px 15px;
		}
		&_2 .result-collect__item-total {
			margin-top: 14px;
		}
		&_2 {
			padding-bottom: 37px;
		}
	}
	&__buttons {
		display: flex;
		flex: 1 1 auto;
		margin-right: 58px;
		@media screen and (max-width: $pc) {
			margin-right: 20px;
		}
		@media screen and (max-width: $lg) {
			margin-right: 0;
			grid-column: span 2;
		}
		@media screen and (max-width: $xs) {
			flex-wrap: wrap;
			gap: 14px;
		}
	}
	&__button {
		width: 100%;
		max-width: 246px;
		padding: 10px;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
		&:not(:last-child) {
			margin-right: 24px;
			@media screen and (max-width: $md) {
				margin-right: 14px;
			}
			@media screen and (max-width: $xs) {
				margin: 0;
			}
		}
		&.btn.btn__zero {
			border: 1px solid $redColor;
			max-width: 246px;
			@media screen and (max-width: $lg) {
				max-width: 100%;
			}
		}
		@media screen and (max-width: $lg) {
			max-width: 100%;
		}
		@media screen and (max-width: $md) {
			min-height: 38px;
			padding: 8px 10px;
			font-size: 15px;
			line-height: math.div(18, 15) * 100%;
		}
	}
	&__exports {
		display: flex;
		align-items: center;
	}
	&__export {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $greenColorDark;
		color: $whiteColor;
		transition: all 0.2s linear 0s;
		&:hover {
			background: $greenColor;
		}
		&::before {
			font-size: 20px;
		}
		&:not(:last-child) {
			margin-right: 20px;
			@media screen and (max-width: $md) {
				margin-right: 12px;
			}
		}
	}
	&__delete {
		align-self: flex-end;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		background: none;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $grayColorBD;
		color: $grayColorBD;
		margin-left: auto;
		&::before {
			font-size: 12px;
		}
	}
	&__actions {
		flex: 1 1 auto;
		display: flex;
		max-width: 674px;
		@media screen and (max-width: $lg) {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
		}
		& button:disabled {
			background: rgba($grayColorBD, 0.7);
			cursor: default;
			pointer-events: none;
			border-color: transparent;
			color: $whiteColor;
		}
		& a.disabled {
			background: rgba($grayColorBD, 0.7);
			cursor: default;
			pointer-events: none;
			border-color: transparent;
			color: $whiteColor;
		}
		& .footer-collect__button.btn.btn__zero:disabled {
			border-color: transparent;
		}
	}
	&__item-wrap {
		max-width: 674px;
		flex: 1 1 auto;
		@media screen and (max-width: $md) {
			order: -1;
			display: flex;
			align-items: center;
			grid-column: span 2;
		}
	}
	&__info {
		display: none;
		padding: 22px 27px;
		background: $grayColorF2;
		margin-top: 27px;
		border-radius: 16px;
		line-height: math.div(24, 16) * 100%;
		color: $blackColor;
		&-adapt {
			padding: 22px 27px;
			background: $grayColorF2;
			margin-top: 0px;
			border-radius: 16px;
			line-height: math.div(24, 16) * 100%;
			color: $blackColor;
			display: none;
			grid-column: span 2;
			& p {
				position: relative;
				padding-left: 19px;
				&::before {
					content: "*";
					position: absolute;
					color: $redColor;
					top: 0;
					left: 0;
					font-size: 24px;
					width: 9px;
				}
			}
			@media screen and (max-width: $md) {
				padding: 15px 20px;
			}
			// @media screen and (max-width: $lg) {
			// 	display: block;
			// }
		}
		@media screen and (max-width: $lg) {
			margin-top: 24px;
			display: none;
		}
		& p {
			position: relative;
			padding-left: 19px;
			&::before {
				content: "*";
				position: absolute;
				color: $redColor;
				top: 0;
				left: 0;
				font-size: 24px;
				width: 9px;
			}
		}
	}
	&__show-btn {
		background: $grayColorF2;
		position: absolute;
		top: 22px;
		right: 22px;
		width: 56px;
		height: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;
		&::before {
			font-size: 22px;
			transform: rotate(-90deg);
			color: $grayColorBD;
			transition: transform 0.2s ease 0s;
		}
		&.active::before {
			color: $greenColor;
			transform: rotate(90deg);
		}
		@media screen and (max-width: $lg) {
			right: 10px;
			top: 18px;
		}
		@media screen and (max-width: $md) {
			position: static;
		}
	}
}

.result-collect {
	align-self: center;
	flex: 1 1 auto;
	max-width: 294px;
	margin-right: 35px;
	margin-left: 51px;
	color: $blackColor;
	@media screen and (max-width: $pc) {
		margin-right: 20px;
		margin-left: 20px;
	}
	@media screen and (max-width: $lg) {
		align-self: start;
		margin-left: 0;
		margin-right: 0;
	}
	@media screen and (max-width: $md) {
		max-width: 100%;
		width: 100%;
		grid-column: span 2;
	}
	&__list {
		margin-bottom: 8px;
		display: none;
		// @media screen and (max-width: $lg) {
		// 	display: block;
		// }
	}
	&__item {
		font-size: 16px;
		line-height: math.div(22, 16) * 100%;
		display: flex;
		align-items: flex-end;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
	&__total {
		display: flex;
		align-items: flex-end;
		width: 100%;
		font-size: 20px;
		line-height: math.div(24, 20) * 100%;
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		& .result-collect__value {
			font-weight: 600;
		}
	}
	&__name {
		line-height: 22px;
		width: 60%;
		flex: 1 1 auto;
		position: relative;
		z-index: 2;
		background: $whiteColor;
		& span {
			padding-right: 4px;
			background: $whiteColor;
			position: relative;
			&.important {
				&::after {
					content: "*";
					top: 0;
					right: 0;
					font-size: 20px;
					color: $redColor;
				}
			}
		}
		&::before {
			content: "";
			display: block;
			left: 0;
			bottom: 5px;
			position: absolute;
			width: 100%;
			border-bottom: 2px dotted #e0e0e0;
			z-index: -1;
		}
		@media screen and (max-width: $md) {
			width: 50%;
		}
	}
	&__value {
		text-align: right;
		font-weight: 700;
		padding-left: 6px;
	}
}
@media screen and (min-width: $lg) {
	// .collect-footer:hover .result-collect__list,
	// .collect-footer:hover .footer-collect__info {
	// 	display: block;
	// }
	.collect-footer.show .result-collect__list,
	.collect-footer.show .footer-collect__info {
		display: block;
	}
	.collect-footer.active .result-collect__list,
	.collect-footer.active .footer-collect__info {
		display: block;
	}
}
@media screen and (max-width: $lg) {
	.collect-footer.active .result-collect__list,
	.collect-footer.active .footer-collect__info-adapt,
	.collect-footer.active .footer-collect__reset {
		display: block;
	}
	.footer-collect__buttons,
	.footer-collect__reset {
		display: none;
	}
	// .collect-footer:hover .result-collect__list,
	// .collect-footer:hover .footer-collect__info-adapt,
	// .collect-footer:hover .footer-collect__reset {
	// 	display: block;
	// }
	.collect-footer.active .footer-collect__buttons {
		display: flex;
	}
	// .collect-footer.show .result-collect__list,
	// .collect-footer.show .footer-collect__info-adapt,
	// .collect-footer.show .footer-collect__reset{
	// 	display: block;
	// }
	// .collect-footer.show .footer-collect__buttons{
	// 	display: flex;
	// }
}
