.compare {
   overflow: hidden;
   &__body {
   }
   &__title {
   }
   &__count {
   }
   &__products {
   }
   & .content-title.hidden {
      display: none;
   }
}
.products-compare {
   padding-bottom: 50px;
   &__inner {
      display: flex;
      @media screen and (max-width: $xl) {
         flex-direction: column;
         gap: 50px;
      }
   }
   &__actions {
      flex: 0 0 274px;
      @media screen and (max-width: $xl) {
         flex: 1 1 auto;
      }
   }
   &__button {
      padding: 10px 23px;
      margin-bottom: 25px;
      text-align: center;
      width: 100%;
      max-width: 181px;
   }
   &__cards {
      // padding-left: 109px;
      width: 100%;
   }
}
.compare-cards {
   position: relative;
   & .products__card {
      flex-shrink: 0;
      transition: none;
   }
   & .card-product {
      &__games {
         flex-wrap: wrap;
         row-gap: 5px;
      }
      @media screen and (max-width: $sm) {
         &__article,
         &__title,
         &__compare::before {
            font-size: 14px;
            line-height: 100%;
         }
         &__price {
            font-size: 16px;
            line-height: 100%;
         }
         &__button {
            font-size: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px;
            &::before {
               display: block;
               font-size: 20px;
            }
         }
         &__box {
            padding: 23px 15px 15px;
         }
         &__image {
            min-height: 100px;
            max-height: 150px;
            & img {
               height: 100%;
            }
         }
         &__games {
            & .games-product__item {
               width: 25px;
               height: 25px;
            }
         }
      }
   }
   &__slider-fixed {
      position: absolute;
      top: 0;
      opacity: 0;
      visibility: hidden;
      max-width: 1170px;
      padding: 0 15px;
      @media screen and (max-width: $xl) {
         left: 0;
      }
      & .card-product {
         height: 100%;
         &__title {
            min-height: auto;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
         }
         &__games {
            flex-wrap: wrap;
         }
      }
      & .card-product__image {
         padding-bottom: 30%;
         min-height: auto;
         min-height: 70px;
         & img {
            max-height: 100%;
         }
      }
      & .games-product__item {
         width: 25px;
         height: 25px;
      }
   }
   &__wrapper-fixed {
      margin: -20px;
      max-width: 890px;
      overflow: hidden;
      padding: 20px;
      position: relative;
      @media screen and (max-width: $xl) {
         max-width: none;
      }
   }
   &.fixed {
      & .compare-cards__slider-fixed {
         display: block;
         position: fixed;
         top: 20px;
         width: 100%;
         opacity: 1;
         visibility: visible;
         right: initial;
         z-index: 20;
      }
   }
   &__slider {
      position: relative;
      width: 100%;
      & .swiper-initialized .card-product {
         opacity: 1;
         visibility: visible;
      }
   }
   &__wrapper {
      max-width: 890px;
      position: relative;
      overflow: hidden;
      padding: 20px;
      margin: -20px;
      @media screen and (max-width: $xl) {
         max-width: none;
      }
   }
   &__body {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
   }
}
.compare-checkbox {
   & .real-checkbox:checked + .custom-checkbox {
      background-color: #5ecbad;
      border: 1px solid transparent;
   }
   & .custom-checkbox::before {
      background-image: url(../img/icons/check-white.svg);
      background-position: 50%;
      background-size: 12px 12px;
      left: 50%;
   }
}

.data-compare {
   &__label {
      font-weight: 600;
      font-family: "Montserrat";
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      margin-bottom: 19px;
      &-compound {
         margin-top: 26px;
         margin-bottom: 26px;
      }
   }
}
.compare-body {
   width: 100%;
   height: auto;
   // overflow: hidden;
   // max-width: 850px;
}
.compare-values {
   display: flex;
   flex-flow: row nowrap;
   text-align: center;
   flex: 1 1 auto;
   transition-property: transform;
   // box-sizing: content-box;
   align-items: flex-start;
   & > *:not(.compare-compound__body, .compare-compound-result__item) {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      text-align: center;
   }
}
.common-compare {
   &__item {
      display: flex;
      align-items: center;
      border-top: 1px solid $grayColorBD;
      padding: 14px 0 14px 16px;
      position: relative;
      &:last-child {
         border-bottom: 1px solid $grayColorBD;
      }
      @media screen and (max-width: $xl) {
         padding: 40px 0 15px 16px;
      }
      @media screen and (max-width: $md) {
         padding: 40px 0 15px 0px;
      }
      & .compare-body {
         overflow: hidden;
      }
      & .reviews-rating {
         @media screen and (max-width: $md) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__value {
               margin: 0;
            }
         }
      }
   }
   &__title {
      line-height: math.div(24, 16) * 100%;
      flex: 0 0 258px;
      @media screen and (max-width: $xl) {
         flex: 0;
         position: absolute;
         top: 10px;
         font-weight: 600;
      }
   }
   & .parameters__button {
      min-width: 80px;
      max-width: 80px;
   }
   & .parameters__buttons {
      justify-content: center;
   }
}

.compare-compound {
   &__body {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
   }
   &__item {
      display: flex;
      border-top: 1px solid $grayColorBD;
      padding: 14px 0 14px 16px;
      position: relative;
      & .card-compound {
         overflow: hidden;
         width: 100%;
      }
      @media screen and (max-width: $xl) {
         padding: 40px 0 15px 16px;
      }
      @media screen and (max-width: $md) {
         padding: 40px 0 15px 0px;
      }
      &.swiper-slide-active {
         height: auto;
      }
   }
   &__title {
      flex: 0 0 274px;
      @media screen and (max-width: $xl) {
         flex: 0;
         position: absolute;
         top: 10px;
         font-weight: 600;
      }
   }
   & .card-compound__item {
      flex-direction: row;
      align-items: flex-start;
      gap: 15px;
      text-align: left;
      min-height: initial;
      @media screen and (max-width: $md) {
         flex-direction: column;
         gap: 7px;
      }
      & .card-compound__company-name {
         margin-bottom: 0;
      }
      & .card-compound__image {
         height: 100%;
         flex: 0 0 91px;
         @media screen and (max-width: $md) {
            flex: 1 1 auto;
            height: 91px;
         }
      }
      & .card-compound__title {
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         display: -webkit-box;
         overflow: hidden;
         min-height: 42px;
      }
   }
   &__body {
      @media screen and (max-width: $md) {
         row-gap: 20px;
      }
   }
   &__result {
      overflow: hidden;
      width: 100%;
   }
}

.compare-compound-result {
   &__item {
      flex-shrink: 0;
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(3, 263px);
      gap: 30px;
   }
}
.compare-compound__quantity {
   width: 52px;
   height: 52px;
   background: $greenColor;
   display: grid;
   place-items: center;
   border-radius: 50%;
   color: $whiteColor;
   font-size: 20px;
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   line-height: math.div(24, 20) * 100%;
}

// TEST
// .common-compare {
//    &__titles {
//       flex: 0 0 280px;
//       & > * {
//          border-bottom: 1px solid #bdbdbd;
//          padding: 14px 0 14px 16px;
//          position: relative;
//          &::before {
//             content: "";
//             display: block;
//             width: 100vw;
//             height: 1px;
//             position: absolute;
//             right: 0;
//             bottom: -1px;
//             transform: translateX(100%);
//             background: #bdbdbd;
//          }
//       }
//    }
//    &__values {
//       & .slide {
//          line-height: 150%;
//          & .common-compare__value {
//             padding: 14px 0;
//          }
//       }
//    }
//    &__item {
//       padding: 0;
//       align-items: flex-start;
//       overflow: hidden;
//    }
// }
// .compare__titles {
// }
