.compare {
   &__body {
   }
   &__title {
   }
   &__count {
   }
   &__products {
   }
}
.products-compare {
   padding-bottom: 50px;
   &__inner {
      display: flex;
   }
   &__actions {
      flex: 0 0 181px;
   }
   &__button {
      padding: 10px 23px;
      margin-bottom: 25px;
      text-align: center;
      width: 100%;
   }
   &__cards {
      padding-left: 109px;
      width: 100%;
   }
}
.compare-cards {
   & .products__card {
      flex-shrink: 0;
      transition: none;
   }
   &.fixed {
      & .compare-cards__slider {
         position: fixed;
         top: 20px;
         width: 100%;
         z-index: 20;
      }
   }
   &__slider {
      position: relative;
      width: 100%;
      & .swiper-initialized .card-product {
         opacity: 1;
         visibility: visible;
      }
   }
   &__wrapper {
      max-width: 890px;
      position: relative;
      overflow: hidden;
      padding: 20px;
      margin: -20px;
   }
   &__body {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
   }
}

.data-compare {
   &__label {
      font-weight: 600;
      font-family: "Montserrat";
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      margin-bottom: 19px;
      &-compound {
         margin-top: 26px;
         margin-bottom: 26px;
      }
   }
}
.compare-body {
   width: 100%;
   height: auto;
   // overflow: hidden;
   // max-width: 850px;
}
.compare-values {
   display: flex;
   flex-flow: row nowrap;
   text-align: center;
   flex: 1 1 auto;
   transition-property: transform;
   box-sizing: content-box;
   align-items: flex-start;
   & > * {
      flex-shrink: 0;
   }
}
.common-compare {
   &__item {
      display: flex;
      align-items: center;
      border-top: 1px solid $grayColorBD;
      padding: 14px 0 14px 16px;
      &:last-child {
         border-bottom: 1px solid $grayColorBD;
      }
      & .compare-body {
         overflow: hidden;
      }
   }
   &__title {
      line-height: math.div(24, 16) * 100%;
      flex: 0 0 280px;
   }
   & .parameters__button {
      min-width: 80px;
      max-width: 80px;
   }
   & .parameters__buttons {
      justify-content: center;
   }
}

.compare-compound {
   &__item {
      display: flex;
      border-top: 1px solid $grayColorBD;
      padding: 14px 0 14px 16px;
      & .card-compound {
         overflow: hidden;
         width: 100%;
      }
      &.swiper-slide-active {
         height: auto;
      }
   }
   &__title {
      flex: 0 0 280px;
   }
   & .card-compound__item {
      flex-direction: row;
      align-items: flex-start;
      gap: 15px;
      text-align: left;
      min-height: 89px;
      & .card-compound__company-name {
         margin-bottom: 0;
      }
      & .card-compound__image {
         height: 100%;
         flex: 0 0 91px;
      }
   }
   &__result {
      overflow: hidden;
      width: 100%;
   }
}

.compare-compound-result {
   &__item {
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(3, 263px);
      gap: 30px;
   }
}
.compare-compound__quantity {
   width: 52px;
   height: 52px;
   background: $greenColor;
   display: grid;
   place-items: center;
   border-radius: 50%;
   color: $whiteColor;
   font-size: 20px;
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   line-height: math.div(24, 20) * 100%;
}
