.consultation {
   padding: 65px 0 130px;
   @media screen and (max-width: $lg) {
      padding: 30px 0 60px;
   }
   & > .container {
      max-width: 1354px;
      @media screen and (max-width: $lg) {
         padding: 0;
      }
   }
   &__body {
      border-radius: 60px;
      background-image: url('../img/consultation/bg.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      background-color: $greenLightColor-2;
      padding: 55px 0 61px;
      position: relative;
      @media screen and (max-width: $lg) {
         border-radius: 30px;
         padding: 40px 0 40px;
      }
   }
   &__content {
      max-width: 730px;
      position: relative;
      z-index: 2;
      & .checkbox-item label{
         display: block;
      }
      & .custom-checkbox {
         top: 2px;
      }
      @media screen and (max-width: $lg) {
         max-width: 100%;
      }
   }
   &__image{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 48px;
      & img {
         height: auto;
      }
      @media screen and (max-width: $lg) {
         display: none;
      }
   }
}
.form {
   &__item {
      max-width: 195px;
      flex: 1 1 auto;
      @media screen and (max-width: $md) {
         max-width: 100%;
         width: 100%;
      }
   }
   &__input {
      max-width: 100%;
      background: $whiteColor;
      border-radius: 19px;
      min-height: 24px;
      padding: 7px 20px;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      color: $mainColor;
      font-family: 'SourceSansPro', sans-serif;
      font-weight: 400;
      border: 1px solid transparent;
		transition: all .2s ease 0s;
      cursor: auto;
      &::placeholder{
         font-size: 16px;
         line-height: math.div(24, 16) * 100%;
         color: $grayColorBD;
         font-family: 'SourceSansPro', sans-serif;
         font-weight: 400;
			transition: opacity .2s ease 0s;
      }
      &:focus {
			border: 1px solid $greenColor;
			&::placeholder{
				opacity: 0;
			}
		}
      @media screen and (max-width: $md) {
         width: 100%;
      }
   }
   &__button {
      flex: 1;
      min-height: 40px;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      min-width: 161px;
      &.disabled{
         opacity: 0.5;
         pointer-events: none;
      }
      @media screen and (max-width: $md) {
         min-width: 100%;
      }
   }
   & a.form__link {
      color: $redColor;
      text-decoration: underline;
      margin-left: 3px;
   }
}
.form-group {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 28px;
   margin-bottom: 27px;
   @media screen and (max-width: $md) {
      flex-direction: column;
      row-gap: 20px;
      column-gap: 0;
   }
}

