.footer {
   background: $greenColorDark;
   font-family: "SourceSansPro", sans-serif;
   color: $whiteColor;
   &__main {
      padding: 50px 0 50px;
      display: flex;
      align-items: flex-start;
      column-gap: 53px;
      @media screen and (max-width: $md) {
         flex-direction: column;
         gap: 30px;
         padding: 25px 0;
      }
   }
   &__left {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
   }
   &__button {
      min-height: 33px;
      max-width: 154px;
      width: 100%;
      font-size: 12px;
      line-height: math.div(15, 12) * 100%;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
   }
}
.footer-logo {
   display: flex;
   align-items: center;
   column-gap: 12px;
   &__image {
   }
   &__text {
      padding: 12px 0 0;
   }
}
.menu-footer {
   display: flex;
   row-gap: 20px;
   flex-wrap: wrap;
   margin-left: auto;
   @media screen and (max-width: $md) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin-left: 0;
      width: 100%;
   }
   &__column {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
         margin-right: 37px;
      }
      @media screen and (max-width: $lg) {
         &:not(:last-child) {
            margin-right: 20px;
         }
      }
      @media screen and (max-width: $md) {
         &:not(:last-child) {
            margin-right: 0;
         }
      }
   }
   &__label {
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      text-transform: uppercase;
      margin-bottom: 12px;
      &::after {
         content: "";
         display: none;
         width: 0;
         height: 0;
         margin: 0px 0px 0px 5px;
         transition: all 0.3s ease 0s;
         border-left: 7px solid transparent;
         border-right: 7px solid transparent;
         border-top: 10px solid $whiteColor;
      }
      &._active {
         &::after {
            transform: rotate(-180deg);
         }
      }
      @media screen and (max-width: $md) {
         &::after {
            display: block;
         }
         margin-bottom: 10px;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
   }
   &__link {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      transition: color 0.2s ease 0s;
      &:hover {
         color: $redColorHover;
      }
   }
}
.footer-contacts {
   &__item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
      &::before {
         width: 16px;
         height: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 16px;
         margin-right: 10px;
      }
   }
   &__link {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
   }
}
.icon-email::before {
   font-size: 12px;
}
.icon-location.footer-contacts__item {
   align-items: flex-start;
   line-height: math.div(20, 16) * 100%;
}
.bottom-footer {
   border-top: 1px solid rgba($whiteColor, 0.5);
   padding: 24px 0 24px;
   font-size: 16px;
   line-height: math.div(24, 16) * 100%;
   @media screen and (max-width: $lg) {
      padding: 24px 0 90px;
   }
   & .container {
      display: flex;
      align-items: center;
      column-gap: 23px;
      @media screen and (max-width: $md) {
         flex-direction: column;
         column-gap: 0;
         gap: 10px;
         align-items: flex-start;
      }
   }
   &__copy {
      flex-grow: 1;
   }
   &__vk {
      margin-left: auto;
      @media screen and (max-width: $md) {
         margin: 0;
      }
   }
   &__map {
      &::before {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 24px;
         font-size: 14px;
      }
   }
   & a.bottom-footer__link {
      text-decoration: underline;
   }
}
