.header {
	font-family: "Montserrat", sans-serif;
	&__catalog {
		padding-bottom: 18px;
	}
	&-menu {
		display: none;
	}
}
.top-header {
	background: $greenColor;
	min-height: 48px;
	padding: 9px 0 7px;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
	}
	&__icon {
		width: 25px;
		height: 25px;
		background: transparent;
		position: relative;
		display: flex;
		justify-content: center;
		display: none;
		z-index: 10;
		& span,
		&::after,
		&::before {
			position: absolute;
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $whiteColor;
		}
		& span {
			top: 49%;
			transform: translateY(-50%);
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	}
	&__menu {
		padding-left: 128px;
		flex: 0 0 66.2%;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 10px;
		& > li {
			max-width: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
			._pc &:hover .submenu__list {
				opacity: 1;
				visibility: visible;
				transform: translate(0px, -2px);
				pointer-events: all;
			}
			._pc &:hover .menu__arrow {
				border-top: 6px solid $whiteColor;
				transform: rotate(-180deg) translateY(0px);
			}
			&.active .submenu__list .submenu__link {
				background: #ffe3e3;
			}
		}
		& li .submenu__list {
			min-width: 133px;
			padding-top: 0px;
		}
	}
	&__link {
		color: $whiteColor;
		font-size: 15px;
		line-height: math.div(18, 15) * 100%;
		font-weight: 500;
		padding-bottom: 6px;
		padding-top: 6px;
		position: relative;
		cursor: pointer;
		display: inline-block;
		transition: color 0.2s linear 0s;
		@media screen and (min-width: $lg) {
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				border-bottom: 2px solid $whiteColor;
				transition: 0.3s;
				transform: scaleX(0);
			}
			&:hover::before {
				transform: scale(1);
			}
		}
		&.active::before {
			width: 100%;
			opacity: 1;
		}
		&.active {
			font-weight: 700;
		}
	}
	& .menu__arrow {
		display: block;
		width: 0;
		height: 0;
		margin: 3px 0px 0px 5px;
		transition: all 0.3s ease 0s;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 7px solid $whiteColor;
		&.icon-arrow-next::before {
			display: none;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 17px;
	}
}

.actions-top-header {
	&__link {
		color: $whiteColor;
		font-size: 12px;
		line-height: math.div(15, 12) * 100%;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		&.download {
			border: 1px solid $whiteColor;
			padding: 8px 19px;
		}
		&.collect {
			min-height: 33px;
			font-size: 12px;
			left: math.div(15, 12) * 100%;
			font-weight: 700;
			padding: 9px 16px;
			background: $redColor;
		}
	}
}
.main-header {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 27px 0 28px;
	}
	&__phones {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 8px;
	}
	&__phone,
	&__link {
		font-size: 15px;
		line-height: math.div(18, 15) * 100%;
		font-weight: 500;
		color: $mainColor;
		transition: all 0.2s ease-in 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}
}
.logo {
	display: inline-flex;
	flex-shrink: 0;
	&__image {
		position: absolute;
		left: 0;
		top: -34px;
	}
	&__text {
		display: block;
		font-weight: 900;
		font-size: 24px;
		line-height: math.div(25, 24) * 100%;
		color: $redColor;
		padding-left: 121px;
		padding-top: 7px;
		padding-right: 3px;
		text-transform: uppercase;
		& span {
			display: block;
		}
	}
}
.social-header {
	&__button {
		background: none;
		font-size: 15px;
		line-height: math.div(18, 15) * 100%;
		color: $greenColor;
		font-weight: 700;
		position: relative;
		margin: 0 auto 7px;
		display: block;
		& span {
			position: relative;
			border-bottom: 2px solid currentColor;
			z-index: -1;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 17px;
	}

	&__link {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.search-header {
	flex: 0 1 272px;
	&__button {
		display: none;
	}
	&__form {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__input {
		width: 100%;
		min-height: 44px;
		padding: 10px 37px 10px 17px;
		background: transparent;
		font-size: 16px;
		line-height: math.div(15, 12) * 100%;
		color: $mainColor;
		font-family: "Montserrat", sans-serif;
		border: 1px solid #dbdbdb;
		border-radius: 50px;
		transition: all 0.2s ease 0s;
		&::placeholder {
			font-size: 12px;
			line-height: math.div(15, 12) * 100%;
			color: #ababab;
			font-family: "Montserrat", sans-serif;
			transition: opacity 0.2s ease 0s;
		}
		&:focus {
			border: 1px solid $greenColor;
			&::placeholder {
				opacity: 0;
			}
		}
	}
	&__icon {
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("../img/icons/search.svg");
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-color: transparent;
	}
	&__actions {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 17px;
		top: 14px;
		cursor: pointer;
		& input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 0;
			background: none;
			z-index: -1;
		}
	}
}
.actions-header {
	display: flex;
	align-items: center;
	gap: 24px;
	& .burger-menu {
		display: none;
	}
	&__search {
		background: transparent;
		display: none;
		width: 32px;
		height: 32px;
	}
	&__link {
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		cursor: pointer;
		&::before {
			font-size: 25px;
			color: $mainColor;
			font-weight: 500;
			font-family: "Montserrat", sans-serif;
			transition: all 0.15s ease 0s;
		}
		&:hover::before {
			color: $redColor;
		}
	}
	&__count {
		font-family: "SourceCodePro", monospace;
		font-weight: 700;
		position: absolute;
		top: 1px;
		right: -3px;
		min-width: 14px;
		min-height: 14px;
		background: $redColor;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $whiteColor;
		border-radius: 50%;
		font-size: 9px;
		line-height: math.div(11, 9) * 100%;
	}
}
.menu {
	&__item {
		display: flex;
		align-items: center;
		transition: all 0.3s ease-out 0s;
		position: relative;
		cursor: pointer;
		&.active .menu__link {
			color: $redColor;
		}
		._pc &:hover .submenu__list {
			opacity: 1;
			visibility: visible;
			transform: translate(0px, -2px);
			pointer-events: all;
		}
		._pc &:hover .menu__arrow {
			border-top: 6px solid $redColor;
			transform: rotate(-180deg) translateY(1px);
		}
		._pc &:hover .menu__link {
			color: $redColor;
		}
	}
	&__link {
		font-size: 15px;
		line-height: math.div(18, 15) * 100%;
		font-weight: 600;
		color: $mainColor;
		text-transform: uppercase;
		transition: all 0.3s ease-out 0s;
		letter-spacing: 0.04px;
	}
	&__arrow {
		display: block;
		width: 0;
		height: 0;
		margin: 0px 0px 0px 4px;
		transition: all 0.3s ease 0s;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 6px solid $mainColor;
		&.icon-arrow-next::before {
			display: none;
		}
	}
	&-close {
		position: fixed;
		top: 0;
		right: 0;
		background: none;
		padding: 15px;
		z-index: 30;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s ease 0s;
		&::before {
			color: $redColor;
			font-size: 20px;
		}
	}
}
.submenu {
	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 13px;
		background: transparent;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
		border-radius: 0px 0px 10px 10px;
		min-width: 200px;
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(20px);
		transition: all 0.3s ease-out 0s;
	}
	&__item {
		background: $whiteColor;
		width: 100%;
		&:last-child {
			border-radius: 0px 0px 10px 10px;
			padding-bottom: 11px;
		}
		&.active .submenu__link {
			background: #ffe3e3;
		}
	}

	&__link {
		width: 100%;
		padding: 8px 17px 7px;
		display: block;
		min-height: 27px;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(16, 12) * 100%;
		text-transform: uppercase;
		color: $blackColor;
		transition: all 0.3s ease 0s;
		font-family: "Montserrat", sans-serif;
		&.current {
			background: #ffe3e3;
		}
		&:hover {
			background: #ffe3e3;
		}
	}
}

body._touch .menu__list > li.open .submenu__list,
body._touch .top-header__list > li.open .submenu__list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
	display: block;
	padding: 0px 0;
}
body._touch .menu__list > li.open .menu__arrow {
	transform: rotate(-90deg) translateY(1px);
	&::before {
		color: $redColor;
	}
}
body._touch .top-header__list > li.open .menu__arrow {
	transform: rotate(-90deg) translateY(0px);
	&::before {
		color: $redColor;
	}
}
body._touch .menu__list > li.open .menu__link,
body._touch .top-header__list > li.open .top-header__link {
	color: $redColor;
}

@media screen and (min-width: $lg) {
	.menu__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
@media screen and (max-width: $lg) {
	.menu__list > li {
		flex-wrap: wrap;
		min-height: 30px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	.menu__link {
		flex: 1 1 auto;
	}
	.submenu__list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		display: none;
	}
	.menu__list > li.open .submenu__list {
		display: block;
	}
	.top-header__list > li.open .submenu__list {
		display: block;
	}
}
@media screen and (max-width: 1100px) {
	.top-header__menu {
		padding-left: 0px;
		flex: 0 0 60%;
	}
	.logo__image {
		top: -16px;
	}
	.search-header {
		flex: 0 1 200px;
	}
	.actions-header {
		gap: 15px;
	}
	.main-header__body {
		padding-bottom: 38px;
	}
	.menu__link {
		font-size: 13px;
	}
	.main-header__link {
		font-size: 13px;
	}
}

@media screen and (max-width: $lg) {
	.menu__arrow {
		border: none;
		margin: 0;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(90deg);
		&.icon-arrow-next::before {
			display: block;
			color: $blackColor;
		}
	}
	.header__catalog {
		padding: 0;
	}
	.top-header {
		min-height: 50px;
		& .container {
			padding-left: 5px;
		}
		& .menu__arrow {
			border: none;
			margin: 0;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			&.icon-arrow-next::before {
				display: block;
				color: $mainColor;
				font-size: 22px;
			}
		}
		&__menu {
			padding: 0 28px 0 22px;
		}
		&__icon {
			display: flex;
		}
		&__list {
			flex-direction: column;
			& > li {
				flex-wrap: wrap;
				width: 100%;
				& .submenu__list {
					position: relative;
					background-color: #fff;
					flex: 1 1 100%;
					display: none;
				}
			}
		}
		&__link {
			flex: 1 1 auto;
			font-size: 23px;
			line-height: 150%;
			color: $mainColor;
			text-transform: uppercase;
			font-weight: 600;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.logo__image {
		top: -15px;
	}
	.actions-header__search {
		display: flex;
		justify-content: center;
		align-items: center;
		& svg {
			width: 25px;
			height: 25px;
		}
	}
	.main-header__search {
		position: fixed;
		z-index: 30;
		top: -100%;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 96%;
		margin: 0 auto;
		transition: top 0.2s ease 0s;
		&.show-search {
			top: 30px;
		}
	}
	.search-header__form {
		background: $whiteColor;
		border-radius: 50px;
	}
	.search-header__input {
		border: 1px solid transparent;
		min-height: 55px;
	}
	.search-header__actions {
		top: 50%;
		transform: translateY(-50%);
	}
	.actions-header {
		gap: 15px;
		flex: 1 1 auto;
		justify-content: flex-end;
	}
	.main-header__body {
		justify-content: flex-start;
	}
	.main-header__phones,
	.main-header__social {
		margin: 0 15px;
	}
	.menu__link {
		font-size: 18px;
	}
	.submenu__list {
		box-shadow: none;
		border-radius: 0;
	}
	.submenu__item:last-child {
		padding-bottom: 0;
	}
	.submenu__link {
		font-size: 20px;
	}
}

@media screen and (max-width: $lg) {
	.header-menu {
		display: block;
		position: fixed;
		left: -120%;
		top: 0;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		padding: 62px 0px 70px;
		background: $whiteColor;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 25;
		transition: left 0.4s ease-in-out 0s;
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			height: 48px;
			width: 100%;
			background-color: $whiteColor;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
			z-index: 25;
		}
		&.show-menu {
			left: 0;
			&::before {
				opacity: 1;
				visibility: visible;
				transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
			}
		}
	}
	.category-menu__button {
		color: $whiteColor;
		font-size: 23px;
		line-height: math.div(45, 23) * 100%;
		font-family: "Montserrat", sans-serif;
		background-color: $greenColor;
		width: 100%;
		min-height: 56px;
		padding: 5px 28px 5px 22px;
		text-transform: uppercase;
		font-weight: 500;
		text-align: left;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 10px;
		&::before {
			font-size: 22px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(90deg);
			transition: transform 0.2s ease 0s;
		}
		&._active::before {
			transform: rotate(-90deg);
		}
	}
	.actions-header {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: $whiteColor;
		box-shadow: 0px -5px 15px rgba($blackColor, 0.1);
		min-height: 65px;
		padding: 10px 20px;
		gap: 44px;
		z-index: 21;
	}
	.actions-header__search svg {
		width: 32px;
		height: 32px;
	}
	.actions-header__link:before {
		font-size: 32px;
	}
	.burger-icon-wrap {
		padding: 10px 21px;
		background: transparent;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		z-index: 25;
		transition: backgorund 0.15s ease 0s;
		&.active {
			background-color: $greenColor;
		}
	}
	.burger-icon {
		position: relative;
		background: none;
		width: 32px;
		height: 28px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		z-index: 31;
	}
	.burger-icon span,
	.burger-icon::before,
	.burger-icon::after {
		position: absolute;
		left: 0;
		height: 3px;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: $whiteColor;
	}
	.burger-icon::before,
	.burger-icon::after {
		content: "";
	}
	.burger-icon::before {
		top: 0;
		// transform: translateY(-10px);
	}
	.burger-icon::after {
		// transform: translateY(10px);
		bottom: 0;
	}
	.burger-icon-wrap.active .burger-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
	.burger-icon-wrap.active .burger-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(-45deg);
	}
	.burger-icon span {
		top: 50%;
		transform: scale(1) translate(0%, -50%);
	}
	.burger-icon-wrap.active span {
		transform: scale(0) translate(0%, -50%);
	}
	.menu {
		padding: 0 28px 0 22px;
		&__link {
			font-size: 20px;
			line-height: 150%;
			padding: 5px 0;
			font-weight: 600;
			font-family: "Montserrat", sans-serif;
		}
		&__list > li:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	.main-header__phones {
		display: inline-flex;
		align-items: flex-end;
		margin-left: auto;
	}
	.social-header__link {
		width: auto;
		height: auto;
		min-width: 30px;
		max-width: 33px;
	}
	.social-header__list {
		gap: 12px;
	}
	.top-header__body {
		justify-content: flex-end;
	}
}
@media screen and (max-width: $md) {
	.main-header__body {
		padding: 35px 0 30px;
	}
	.top-header__body {
		column-gap: 5px;
	}
	.logo__text {
		padding-top: 0;
		padding-right: 0;
	}
	.actions-header {
		gap: 31px;
	}
	.main-header {
		& .container {
			padding: 0 10px;
		}
	}
	.main-header__social {
		margin-left: auto;
		margin-right: 0;
	}
	.main-header__body {
		flex-wrap: wrap;
	}
	.main-header__logo {
		flex: 1 1 100%;
		margin-bottom: 38px;
	}
	.main-header__phones {
		margin-left: 0;
		margin-right: auto;
	}
}
@media screen and (max-width: $sm) {
	.top-header__actions {
		column-gap: 8px;
	}
	.actions-top-header__link {
		font-size: 11px;
		line-height: math.div(13, 11) * 100%;
	}
	.actions-top-header__link.collect {
		min-height: 31px;
		padding: 8px 12px;
	}
	.actions-top-header__link.download {
		padding: 8px 16px;
		min-height: 33px;
	}
	.main-header {
		&__phone {
			font-size: 14px;
		}
		&__link {
			font-size: 12px;
		}
	}
	.category-menu__button {
		font-size: 18px;
		line-height: 150%;
		min-height: 40px;
		padding: 5px 15px;
	}
	.menu,
	.top-header__menu {
		padding: 0 15px;
	}
	.menu__link,
	.top-header__link {
		font-size: 18px;
		line-height: 150%;
	}
	.submenu__link {
		font-size: 16px;
	}
}
@media screen and (max-width: $xs) {
	.actions-top-header__link {
		font-size: 10px;
		line-height: math.div(11, 10) * 100%;
	}
	.actions-top-header__link.collect {
		min-height: 28px;
		padding: 8px 9px;
	}
	.actions-top-header__link.download {
		padding: 8px 13px;
		min-height: 28px;
	}
	.burger-icon-wrap {
		padding: 10px 6px;
	}
	.logo__image {
		top: -12px;
	}
	.actions-header__search svg {
		width: 25px;
		height: 25px;
	}
	.actions-header__link:before {
		font-size: 24px;
	}
}
