.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba($blackColor, 0.8);
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.3s ease 0s;
   z-index: 30;
   &.open-modal {
      opacity: 1;
      visibility: visible;
      & .modal__content {
         opacity: 1;
         transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
      }
   }
   &__wrapper {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
      transition: all 0.5s ease 0s;
   }
   &__content {
      background: $whiteColor;
      max-width: 571px;
      width: 100%;
      padding: 50px 28px 40px 42px;
      position: relative;
      @media screen and (max-width: $md) {
         padding: 40px 15px 40px 15px;
      }
      // opacity: 0;
      // transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
      // transition: all 0.5s ease 0s;
      border-radius: 10px;
   }
   &__close {
      position: absolute;
      padding: 37px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      &::before {
         font-size: 20px;
         color: #c4c4c4;
         transition: all 0.3s ease 0s;
      }
      &:hover::before {
         color: $redColor;
      }
      @media screen and (max-width: $md) {
         padding: 25px;
      }
   }
   &__title {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      font-family: "Montserrat", sans-serif;
   }
   &__icon {
      text-align: center;
      width: 110px;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 16px;
      &-check {
         width: 40px;
         height: 40px;
         margin: 0 auto 21px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   &__description {
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
   }
   &__buttons {
      display: flex;
      gap: 15px;
      align-items: center;
      margin-top: 30px;
      max-width: 300px;
      margin: 30px auto 0;
   }
   &__btn {
      padding: 8px;
      max-width: 200px;
      flex: 1 1 auto;
   }
}

.form-modal {
   font-size: 16px;
   line-height: 22px;
   color: $grayColor82;
   font-family: "SourceSansPro", sans-serif;
   font-weight: 400;
   &__items {
      display: flex;
      flex-direction: column;
      padding: 40px 0;
      @media screen and (max-width: $md) {
         padding: 25px 0;
      }
   }
   &__item {
      width: 100%;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      @media screen and (max-width: $md) {
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }
   &__input,
   &__textarea {
      width: 100%;
      border: 1px solid $grayColorBD;
      min-height: 40px;
      padding: 9px 17px;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      font-family: "SourceSansPro", sans-serif;
      color: $mainColor;
      border-radius: 20px;
      transition: border 0.2s ease 0s, color 0.2s ease 0s;
      cursor: auto;
      &::placeholder {
         font-size: 16px;
         line-height: math.div(22, 16) * 100%;
         font-family: "SourceSansPro", sans-serif;
         color: $grayColor82;
         transition: opacity 0.2s ease 0s;
      }
      &:focus {
         border: 1px solid $greenColor;
         &::placeholder {
            opacity: 0;
         }
      }
   }
   &__textarea {
      min-height: 225px;
      max-height: 300px;
      resize: vertical;
      @media screen and (max-width: $md) {
         min-height: 180px;
      }
   }
   &__button {
      border: 1px solid $redColor;
      color: $redColor;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      padding: 10px 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      margin: 0 auto;
      min-width: 200px;
      background: transparent;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      transition: all 0.3s ease 0s;
      &:hover {
         color: $whiteColor;
         background: $redColor;
      }
      &.disabled {
         opacity: 0.5;
         pointer-events: none;
      }
      @media screen and (max-width: $md) {
         max-width: 100%;
         min-width: 100%;
         padding: 8px 16px;
      }
   }
   & .checkbox-item {
      display: block;
      margin-bottom: 20px;
      & label {
         justify-content: center;
      }
      &__text {
         display: inline-block;
         text-align: left;
         width: 100%;
      }
      & .form__link {
         text-decoration: underline;
      }
   }
}
.modal-message__title {
   max-width: 315px;
   margin: 0 auto 14px;
}
.modal-message .modal__content {
   padding: 40px 40px 50px;
   @media screen and (max-width: $md) {
      padding: 40px 15px 40px 15px;
   }
}
.modal-consultation .modal__content {
   padding: 50px 48px;
   max-width: 448px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   @media screen and (max-width: $md) {
      padding: 40px 15px 40px 15px;
   }
}
.modal-reviews {
   & .modal__content {
      background: $greenColor;
      max-width: 538px;
      padding: 45px 50px;
      border-radius: 16px;
      @media screen and (max-width: $md) {
         padding: 25px 15px;
      }
   }
   & .modal__close {
      display: none;
   }
   & .modal__title {
      font-family: "Montserrat";
      font-weight: 700;
      color: $whiteColor;
      text-transform: uppercase;
      font-size: 30px;
      line-height: math.div(45, 30) * 100%;
      @media screen and (max-width: $md) {
         font-size: 18px;
      }
   }
}
.estimate-modal {
   position: relative;
   padding-left: 17px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px 23px;
   &__label {
      color: $grayColor82;
   }
   &__list {
      display: flex;
      align-items: center;
      gap: 4px;
      & li {
         width: 37px;
         height: 37px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   .error-text {
      width: 100%;
      display: none;
   }
   &.error {
      .error-text {
         display: block;
      }
   }
}

// RATING
.rating {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: flex-end;
}
.rating:not(:checked) > input {
   position: absolute;
   opacity: 0;
   visibility: hidden;
}
.rating:not(:checked) > label {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   text-align: center;
   line-height: 1;
   transition: all 0.3s ease 0s;
   font-size: 0;
   padding-right: 4px;
}
.rating:not(:checked) > label:before {
   content: url("../img/icons/star-t-big.svg");
}
.rating > input:checked ~ label::before {
   content: url("../img/icons/star-big.svg");
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label::before {
   content: url("../img/icons/star-big.svg");
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label::before,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label::before,
.rating > label:hover ~ input:checked ~ label::before {
   content: url("../img/icons/star-big.svg");
}
