.package{
   padding: 61px 0 61px;
   @media screen and (max-width: $md) {
      padding: 30px 0 30px;
   }
   & .container {
      max-width: 1354px;
      @media screen and (max-width: $md) {
         padding: 0;
      }
   }
   &__wrapper {
      position: relative;
   }
   &__body{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      background-image: url("../img/package/bg-bottom.png");
      background-size: 100% 100%;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-color: $grayColorF2;
      padding: 60px 159px 68px 0;
      border-radius: 62px;
      overflow: hidden;
      @media screen and (max-width: $pc) {
         padding: 60px 20px 50px 0;
      }
      @media screen and (max-width: $lg) {
         padding: 40px 30px;
      }
      @media screen and (max-width: $md) {
         background-image: none;
         border-radius: 30px;
      }
   }
   &__content{
      max-width: 390px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: $lg) {
         max-width: 100%;
      }
   }
   &__text{
      & p {
         font-size: 16px;
         line-height: math.div(24, 16) * 100%;
         color: $blackColor;
         font-family: 'SourceSansPro', sans-serif;
      }
   }
   &__btn{
      margin-top: 34px;
      max-width: 222px;
   }
   &__image{
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
      border-radius: 0 0 0 62px;
      & img{
         border-radius: inherit;
      }
      @media screen and (max-width: $lg) {
         display: none;
      } 
   }
}
