.products {
   &.popular {
      padding: 89px 0 65px;
      @media screen and (max-width: $md) {
         padding: 40px 0 40px;
      }
   }
   &__slider {
      position: relative;
   }
   &__wrapper {
      overflow: hidden;
      padding: 20px;
      margin: -20px;
      position: relative;
      @media screen and (max-width: $lg) {
         padding: 15px;
         margin: -15px;
      }
      @media screen and (max-width: $lg) {
         &.disabled {
            padding: 15px;
            margin: -15px;
         }
      }
      &.disabled .card-product {
         opacity: 1;
         visibility: visible;
         flex-grow: 1;
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
         max-width: 100%;
         & img {
            transform: scale(1);
         }
      }
      &.disabled .products__body {
         gap: 30px;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         @media screen and (max-width: $pc) {
            grid-template-columns: repeat(3, 1fr);
         }
         @media screen and (max-width: $lg) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 15px;
         }
         @media screen and (max-width: $sm) {
            grid-template-columns: 1fr;
         }
      }
      &.disabled .products__controls {
         display: none;
      }
   }
   &__body {
      display: flex;
      flex-flow: row nowrap;
   }
   &__card {
      flex-shrink: 0;
   }
}
.slider-container.container {
   max-width: 1260px;
   padding: 0 60px;
   @media screen and (max-width: $lg) {
      padding: 0 15px;
   }
}
.swiper-initialized .card-product {
   opacity: 0;
   visibility: hidden;
   & .card-product__image img {
      transform: scale(0);
   }
}
.card-product {
   background: $whiteColor;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
   border-radius: 10px;
   position: relative;
   max-width: 263px;
   transition: all 0.3s ease 0s;
   @media screen and (max-width: $pc) {
      max-width: initial;
   }
   &.swiper-slide-visible {
      opacity: 1;
      visibility: visible;
   }
   &.swiper-slide-visible .card-product__image img {
      transform: scale(1);
   }
   &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 23px 20px 18px;
      position: relative;
      border-radius: 10px;
   }
   &__sold {
      top: 23px;
      left: 50%;
      transform: translateX(-50%);
   }
   &__header {
      margin-bottom: 12px;
      position: relative;
   }
   &__favorite {
      position: absolute;
      z-index: 5;
      top: 19px;
      right: 20px;
      cursor: pointer;
      &::before {
         font-size: 20px;
         color: $grayColorBD;
         transition: color 0.2s ease 0s;
      }
      &:hover::before {
         color: $redColor;
      }
      &.selected::before {
         color: $redColor;
      }
   }
   &__badge {
      position: absolute;
      top: 0;
      left: 0px;
      background-position: -20px -10px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 87px;
      height: 63px;
      border-radius: 10px;
      z-index: 4;
      &_hit {
         background-image: url("../img/icons/badge.svg");
         & span {
            color: $whiteColor;
            text-indent: 0%;
            transform: rotate(-45deg) translate(9px, -12px);
         }
      }
      &_new {
         background-image: url("../img/icons/badge-new.svg");
         & span {
            color: $mainColor;
            transform: rotate(-45deg) translate(5px, -12px);
         }
      }
      & span {
         display: block;
         font-family: "SourceSansPro", sans-serif;
         font-weight: 700;
         font-size: 16px;
         line-height: math.div(22, 16) * 100%;
      }
   }
   &__sale {
      top: 62px;
      left: 20px;
      width: 54px;
      height: 54px;
   }
   &__image {
      display: block;
      padding-bottom: math.div(176, 223) * 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 6px;
      min-height: 176px;
      & img {
         transform: scale(1);
         left: initial;
         height: initial;
         width: initial;
         transition: all 0.5s ease 0s;
      }
      @media screen and (max-width: $lg) {
         padding: 0 0 50%;
      }
      &.sold {
         opacity: 0.5;
      }
   }
   &__article {
      font-family: "SourceSansPro", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      color: $grayColorBD;
      margin-bottom: 1px;
   }
   &__title {
      font-family: "SourceSansPro", sans-serif;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      font-weight: 700;
      min-height: 42px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
   }
   &__body {
      padding-bottom: 14px;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 10px;
      margin-bottom: 14px;
   }
   &__compare {
      color: $grayColorBD;
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &::before {
         font-size: 20px;
         transition: all 0.2s ease 0s;
      }
      &:hover::before {
         color: $redColor;
      }
      &.selected::before {
         color: $redColor;
      }
   }
   &__choice {
   }
   &__footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 5px;
      row-gap: 10px;
      flex-wrap: wrap;
   }
   &__prices {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      column-gap: 7px;
   }
   &__price {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      &-old {
         color: $grayColorBD;
         font-size: 10px;
         line-height: math.div(12, 10) * 100%;
         text-decoration: line-through;
      }
   }
   &__button {
      padding: 10px 25px;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      min-height: 40px;
      font-weight: 500;
   }
   &__delete {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.3px solid $grayColorBD;
      color: $grayColorBD;
      border-radius: 50%;
      transition: all 0.2s ease 0s;
      cursor: pointer;
      &::before {
         color: inherit;
         font-size: 14px;
         transition: all 0.2s ease 0s;
      }
      &:hover {
         border: 1.3px solid $redColor;
         &::before {
            color: $redColor;
         }
      }
   }
   &__image-wrap {
      position: relative;
      z-index: 0;
   }
   &__games {
      position: absolute;
      left: 0;
      bottom: 0;
   }
}
.reviews-rating__list {
   & li {
      display: block;
      background-image: url("../img/icons/star-t.svg");
      background-size: 21px 20px;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
      &:not(:last-child) {
         margin-right: 3px;
      }
   }
   @for $i from 1 to 6 {
      &.r-#{$i} {
         & li:nth-last-child(-n + #{$i}) {
            background-image: url("../img/icons/star.svg");
            background-repeat: no-repeat;
         }
      }
   }
}
.select-group {
   position: relative;
   font-family: "SourceSansPro", sans-serif;
   &:not(:last-child) {
      margin-bottom: 10px;
   }
   &__item {
      display: flex;
      align-items: center;
      background: $whiteColor;
      border: 0.5px solid $grayColorBD;
      border-radius: 19px;
      padding: 0px 0px 0px 0px;
      min-height: 30px;
   }
   &__label {
      padding-left: 14px;
      width: 100%;
      min-height: 30px;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 8px;
      transition: all 0.15s linear 0s;
      cursor: pointer;
      &:hover {
         & .custom-radio {
            border: 1px solid $redColor;
         }
      }
   }
   &__label-text {
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
   }
   &__choice {
      min-height: 30px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 19px;
      border-left: 0.5px solid $grayColorBD;
      padding-left: 10px;
      width: 42%;
      padding-right: 11px;
      transition: all 0.2s linear 0s;
      &:hover {
         background: $pinkColorLight;
      }
      &.no-choice {
         border: none;
         width: auto;
         &:hover {
            border: none;
            background: none;
         }
      }
   }
   &__value {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      width: 100%;
   }
   &__arrow {
      margin-left: 8px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: $greenColor transparent transparent transparent;
      transition: all 0.15s ease 0s;
      &.show {
         display: block;
      }
   }
   & .dropdown-list {
      width: 100%;
      top: 0;
      margin: 0;
      box-shadow: none;
      z-index: 2;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
      padding-top: 33px;
      & li {
         padding: 0;
      }
      & .select-group__item {
         background: $whiteColor;
         border-radius: 19px;
         align-items: center;
         display: flex;
         cursor: pointer;
         position: relative;
         transition: all 0.15s linear 0s;
         border: none;
         column-gap: 8px;
         padding: 3px 30px 3px 14px;
         &:not(:last-child) {
            margin: 0;
         }
         &.current {
            display: none;
         }
      }
   }
   &.active {
      .select-group__arrow {
         transform: rotate(-180deg);
      }
      & .dropdown-list {
         display: block;
      }
      & > .select-group__item {
         background: $pinkColorLight;
         border: 0.5px solid transparent;
         z-index: 4;
         position: relative;
      }
   }
   &__input-hidden {
      display: none;
   }
}
.select-wrapper > .select-group.active {
   & > .custom-radio::before {
      transform: translate(-50%, -50%) scale(1);
   }
}
