.accordeon(data-spollers)
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next._active(data-spoller) Менеджер по продажам 
		.item-accordeon__content.info-body
			ul
				li.
					<strong>Условия работы:</strong> свободный график, работа удаленная, сезонная.
				li.
					<strong>Зарплата:</strong> процент от суммы продаж - вы получаете 8%. (средний заработок за сезон от 100 000 до 400 000 рублей).
				li.
					<strong>Возраст:</strong> от 20 до 60 лет
				li.
					<strong>Требования:</strong>  опыт работы в продажах, обязательно наличие компьютера и выделенной линии интернет, хорошее знание ПК, 
					умение вести переговоры на любом уровне,поиск клиентов (собственная база приветствуется).
				li.
					<strong>Обязанности:</strong> активный поиск клиентов, заключение договоров на поставку новогодних подарков, прием заказов от клиентов, ведение клиента до отгрузки. 
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Дизайнер
		.item-accordeon__content.info-body
			ul
				li.
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Специалист по кадрам
		.item-accordeon__content.info-body
			ul
				li.
					В разработке
	