-
	footerMenu = [
		{
			label: "Сладкие подарки",
			children: [
				{
					title: "Сладкие подарки",
					link: "category.html"
				},
				{
					title: "В мягкой игрушке",
					link: "category.html"
				},
				{
					title: "В картоне",
					link: "category.html"
				},
				{
					title: "В мешочке",
					link: "category.html"
				},
				{
					title: "Жестяные",
					link: "category.html"
				},
				{
					title: "Сундуки и шкатулки",
					link: "category.html"
				},
			]
		},
		{
			label: "Орехи и сухофрукты",
			children: [
				{
					title: "Наборы",
					link: "category-nuts.html"
				},
				{
					title: "Орехи",
					link: "category-nuts.html"
				},
				{
					title: "Сухофрукты",
					link: "category-nuts.html"
				},
				{
					title: "Цукаты",
					link: "category-nuts.html"
				},
				{
					title: "НОВОГОДНЯЯ УПАКОВКА",
					link: "category-nuts.html"
				},
			]
		},
		{
			label: "О компании",
			children: [
				{
					title: "Отзывы",
					link: "reviews.html"
				},
				{
					title: "FAQ",
					link: "faq.html"
				},
				{
					title: "Сертификаты",
					link: "certificate.html"
				},
				{
					title: "Доставка и оплата",
					link: "delivery-and-payment.html"
				},
				{
					title: "Подарки с логотипом",
					link: "clients.html"
				},
			]
		},
	]

footer.footer 
	.container
		.footer__main.main-footer 
			.footer__left 
				a(href="./index.html").footer-logo
					.footer-logo__image 
						img(src="img/footer/logo.svg", alt="")
					.footer-logo__text 
						img(src="img/footer/logo-text.svg", alt="")
				a(href="collect.html").footer__button.btn Соберите подарок
			.footer__menu.menu-footer(data-spollers="767.98,max")
				each item, i in footerMenu
					.menu-footer__column(class=`footer-column_${i+1}`)
							p.menu-footer__label(data-spoller) !{item.label}
							.menu-footer__list-wrap
								ul.menu-footer__list.open
									each childItem in item.children
										li.menu-footer__item 
											a(href=childItem.link).menu-footer__link= childItem.title
				.menu-footer__column.footer-contacts
					p.menu-footer__label(data-spoller) Контакты
					ul.footer-contacts__list 
						li.icon-phone-white.footer-contacts__item
							a(href="tel:88312239969").footer-contacts__link 8 (831) 223-99-69
						li.icon-email.footer-contacts__item 
							a(href="mailto:info@podarok-nnov.ru").footer-contacts__link info@podarok-nnov.ru
						li.icon-location.footer-contacts__item.
							603096, г.&nbsp;Нижний Новгород, <br>
							ул.&nbsp;Силикатная, д.4 <br>
							БЦ&nbsp;“Комплекс-Групп”
						li.icon-time.footer-contacts__item.
							пн-пт, 9.00-19.00
	.footer__bottom.bottom-footer 
		.container 
			.bottom-footer__copy © ООО «Комплекс-НН», 2004-2022
			|
			|
			a(href="#" target="_blank").bottom-footer__vk.icon-vk-white
			|
			|
			a(href="#").bottom-footer__map Карта сайта
			|
			|
			a(href="#").bottom-footer__link Политика конфиденциальности


