header.header 
	.header__body
		.header__top.top-header
			.container
				.top-header__body
					nav.top-header__menu
						ul.top-header__list
							li.top-header__list-item
								a.top-header__link(href="about.html") О компании
								span.menu__arrow
								ul.submenu__list
									each item in [{"title": "FAQ", "link": "faq.html"}, {"title": "Отзывы", "link": "reviews.html"}, {"title": "Вакансии","link": "vacancy.html"}, {"title": "Сертификаты", "link": "certificate.html"}]
										li.submenu__item
											a.submenu__link(href=item.link)= item.title
							li
								a.top-header__link(href="delivery-and-payment.html") Доставка и оплата
							li
								a.top-header__link(href="clients.html") Корпоративным клиентам
							li
								a.top-header__link(href="contacts.html") Контакты
					.top-header__actions.actions-top-header
						a.actions-top-header__link.download(href="#") Скачать буклет
						a.actions-top-header__link.collect.btn.btn-red(href="collect.html") Соберите подарок							
		.header__main.main-header 	
			.container 
				.main-header__body 
					a(href="/").logo
						.logo__image
							img(src="img/icons/logo.png", alt="")
						div.logo__text 
							img(src="img/icons/logo.svg" alt="")
					.main-header__phones 
						a.main-header__phone(href="tel:88312239969") 8 (831) 223-99-69
						a.main-header__phone(href="tel:88312239969") +7 (903) 604-92-10
					.main-header__social.social-header
						button.social-header__button(type="button" class="modal-btn" data-modal-button="modal-call") 
							span Заказать звонок
						ul.social-header__list
							li 
								a(href="/", target="_blank").social-header__link
									img(src="img/icons/whatsapp.svg", alt="")
							li 
								a(href="/", target="_blank").social-header__link
									img(src="img/icons/viber.svg", alt="")
							li 
								a(href="/", target="_blank").social-header__link
									img(src="img/icons/vk.svg", alt="")
					.main-header__search.search-header
						button(type="button").search-header__button
						form(action="/").search-header__form
							input.search-header__input(type="search", autocomplete="off", placeholder="Поиск по сайту")
							.search-header__actions
								button(type="button").search-header__icon
								input(type="submit" value="Поиск")
					.main-header__actions.actions-header
						a(href="favorites.html").actions-header__link.icon-favorites
							span.actions-header__count 1
						a.actions-header__link.icon-prepare
							span.actions-header__count 1
						a(href="cart.html").actions-header__link.icon-cart
							span.actions-header__count 1
		.header__catalog
			.container
				include ./menu



