-
	const menu = [
		{
			title: 'Сладкие подарки',
			name: '',
			link: 'category.html',
			submenu: [
				{
					title: 'В мешочке',
					link: 'category.html'
				},
				{
					title: 'Жестяные',
					link: 'category.html'
				},
				{
					title: 'В тубе',
					link: 'category.html'
				},
				{
					title: 'Куклы',
					link: 'category.html'
				},
				{
					title: 'Сундуки и шкатулки',
					link: 'category.html'
				},
				{
					title: 'Керамика и фетр',
					link: 'category.html'
				},
				{
					title: 'Вложения в подарки',
					link: 'category.html'
				},
				{
					title: 'Конфеты в коробках',
					link: 'category.html'
				},
				{
					title: 'VIP подарки',
					link: 'category.html'
				},
				{
					title: 'Новинки',
					link: 'category.html'
				},
			]
		},
		{
			title: 'Упаковка',
			name: '',
			link: '#',
			submenu: [
				{
					title: 'Картон',
					link: '#'
				},
				{
					title: 'Мягкая игрушка',
					link: '#'
				},
				{
					title: 'Мешки',
					link: '#'
				},
				{
					title: 'Жестяная упаковка',
					link: '#'
				},
				{
					title: 'Тубы',
					link: '#'
				},
				{
					title: 'Куклы',
					link: '#'
				},
				{
					title: 'Сундуки и шкатулки',
					link: '#'
				},
				{
					title: 'Керамика и фетр',
					link: '#'
				},
			]
		},
		{
			title: 'Орехи и Сухофрукты',
			name: '',
			link: '#',
			submenu: [
				{
					title: 'Орехи',
					link: 'category-nuts.html'
				},
				{
					title: 'Сухофрукты',
					link: 'category-nuts.html'
				},
				{
					title: 'Цукаты',
					link: 'category-nuts.html'
				},
			]
		},
		{
			title: 'Символ года 2022',
			name: '',
			link: '#',
			submenu: []
		},
		{
			title: 'В мягкой игрушке',
			name: '',
			link: '#',
			submenu: []
		},
		{
			title: 'В картоне',
			name: '',
			link: '#',
			submenu: []
		},
		{
			title: 'Распродажа',
			name: '',
			link: '#',
			submenu: []
		},
	];
- let selected = pageTitle;
- let menuActive = "";
nav.menu
	button.menu-close(type="button").icon-delete
	ul.menu__list
		each menuItem, i in menu
			if selected === menuItem.title
				- menuActive = "active"
			else
				- menuActive = ""
			li(class="menu__item " + menuActive)
				a.menu__link(href="/" + menuItem.link)= menuItem.title
				if menuItem.submenu.length > 0
					span.menu__arrow.icon-arrow-next
					ul.submenu__list
						each subItem in menuItem.submenu
							li.submenu__item
								a.submenu__link(href=subItem.link)= subItem.title