.pagination
   ul.pagination__list 
      li.pagination__item.disabled
         a.pagination__link.icon-arrow-prev
      li.pagination__item.current
         a.pagination__link 1
      li.pagination__item 
         a.pagination__link 2
      li.pagination__item 
         a.pagination__link 3
      li.pagination__item 
         a.pagination__link 4
      li.pagination__item 
         a.pagination__link 5
      li.pagination__item 
         a.pagination__link ...
      li.pagination__item 
         a.pagination__link 12
      li.pagination__item 
         a.pagination__link.icon-arrow-next