aside.category__aside
	form(action="#").filter
		.filter__body 
			.filter__header 
				h2.filter__title.content-title Фильтры
				button(type="button" disabled).filter__button.filter-reset Сбросить всё
			.filter-group(data-filter-group)
				.filter-group__title.content-title Цена
				.filter-group__item
					.filter-group__inputs
						label.filter-group__label
							input(type="number" data-value-start="0").filter-group__input
						span.filter-group__line
						label.filter-group__label
							input(type="number" data-value-end="10000").filter-group__input
					.filter-group__slider.slider-filter(data-slider-filter)
			.filter-group(data-filter-group)
				.filter-group__title.content-title Вес
				.filter-group__item
					.filter-group__inputs
						label.filter-group__label
							input(type="number" data-value-start="0").filter-group__input
						span.filter-group__line
						label.filter-group__label
							input(type="number" data-value-end="5000").filter-group__input
					.filter-group__slider.slider-filter(id="weight-slider" data-slider-filter)
			.filter-group.filter-group__material
				.filter-group__title.content-title Материал упаковки
				mixin checkboxes(title, name, checked)
					.checkbox-item
						label
							input(type="checkbox" name=name checked=checked class="real-checkbox")
							span.custom-checkbox
							span.checkbox-item__text= title
				+checkboxes('Картон', "material", "checked")
				+checkboxes('Мягкая игрушка', "material")
				+checkboxes('Мешки', 'material')
				+checkboxes('Жестяная упаковка', "material")
				+checkboxes('Тубы', "material")
				+checkboxes('Куклы', "material")
				+checkboxes('Керамика и фетр', "material")
			.filter-group.filter-group__compound
				.filter-group__title.content-title Состав
				+checkboxes('Классик ', "compound", "checked")
				+checkboxes('Премиум ', "compound")
				+checkboxes('VIP ', "compound")
			.filter-group.filter-group__addit
				.filter-group__title.content-title Дополнительно
				+checkboxes('Новинка', "badge", "checked")
				+checkboxes('Хит', "badge")
				+checkboxes('Скидка', "badge")
			.filter-group.filter-group__buttons
				button(type="button").filter-group__btn.btn-green Показать
				button(type="button").filter-group__btn.btn-green.filter-group__btn-reset Сбросить