-
	product = [
		{
			"img": "products/category-prize/product-1",
			"article": "#0074",
			"name": "Короб почтальона Ассорти",
			"price": "1005 ₽",
			"badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
			"sale": `<div class="card-product__sale card-product__sale--pink">-20%</div>`,
			choice: [
				{
					"title": "Классик",
					"values": ["1100 г", "700 г"],
				},
				{
					"title": "Премиум",
					"values": ["600 г", "700 г"],
				},
				{
					"title": "VIP",
					"values": ["300 г", "700 г"],
				},
			]
		},
		{
			"img": "products/category-prize/product-2",
			"article": "#0184",
			"name": "Кубок желтый",
			"price": "1005 ₽",
			"badge": `<div class="card-product__badge card-product__badge_new"><span>New</span></div>`,
			"sale": `<div class="card-product__sale card-product__sale--green">-10%</div>`,
			choice: [
				{
					"title": "Классик",
					"values": ["400 г", "700 г"],
				},
				{
					"title": "Премиум",
					"values": ["600 г", "700 г"],
				},
				{
					"title": "VIP",
					"values": ["300 г", "700 г"],
				},
			]
		},
		{
			"img": "products/category-prize/product-3",
			"article": "#0225",
			"name": "Почта-копилка",
			"price": "1005 ₽",
			"badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
			"sale": `<div class="card-product__sale card-product__sale--green">-10%</div>`,
			choice: [
				{
					"title": "Классик",
					"values": ["550 г", "700 г"],
				},
				{
					"title": "Премиум",
					"values": ["600 г", "700 г"],
				},
				{
					"title": "VIP",
					"values": ["300 г", "700 г"],
				},
			]
		},
	];
.category__content
	.category__cards
		include ../product-card
	button(type="button").category__button Показать ещё
	include ../../chunks/pagination