.category-sorting
	.category-sorting__label Сортировать:
	.dropdown
		.category-sorting__button.dropdown__button По возрастанию цены
		ul.category-sorting__list.dropdown-list
			li.dropdown-list__item По возрастанию цены
			li.dropdown-list__item По убыванию цены
			li.dropdown-list__item(data-sort-asc="asc") По возрастанию рейтинга
			li.dropdown-list__item(data-sort-desc="desc") По убыванию рейтинга
		input(type="text").dropdown__input-hidden