.about__important.important-about
   .about__container
      .important-about__info.info-body
         h3 Сладкие подарки от “Комплекс-НН” порадуют вас:
         ul
            li.
               <strong>Оригинальной дизайнерской упаковкой</strong> для новогодних подарков: мягкая, жестяная, картонная, в виде игрушек, кукол, туб, сундуков
            li.
               <strong>Многообразием составов “на любой вкус и кошелек”</strong> (особого внимания заслуживают кондитерские наборы из эксклюзивной VIP-серии)
            li.
               Отдельным направлением — <strong>корпоративные подарки на любой праздник:</strong> коробки конфет, шоколад, чайные наборы
            li.
               Возможностью <strong>украсить подарок логотипом</strong>
            li.
               <strong>Системой скидок и предложений</strong> для постоянных клиентов
      .important-about__image 
         img(src="img/about/important-img-right.png", alt="")