block vars 
	- var pageTitle = "title of this site";
	- var bodyClass = "home";

doctype html
html(lang="ru")
	include ../chunks/head
	body(class=bodyClass)
		.wrapper
			include ../chunks/header
			main.content
				block content
			
			include ../chunks/footer

		include ../chunks/modals

		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
			script(src="js/app.min.js")