-
	collectFooter = [
		{
			btnOrder: "Заказать",
			btnCart: "Добавить в корзину",
			list: [
				{
					name: "Итого",
					value: "0 ₽",
					itemClass: "result-collect__item-total",
				},
			]
		},
		{
			wrapperClass: "footer-collect__item_2",
			btnOrder: "Заказать",
			btnCart: "Добавить в корзину",
			list: [
				{
					name: "Уникальных позиций",
					value: "0"
				},
				{
					name: "Количество",
					value: "0 шт."
				},
				{
					name: "Вес",
					value: "0 гр.",
					important: "important"
				},
				{
					name: "Упаковка",
					value: "0 ₽"
				},
				{
					name: "Итого",
					value: "0 ₽",
					itemClass: "result-collect__item-total",
					important: "important"
				},
			]
		}
	];
include ../collect-footer