.factories {
	padding: 65px 0 60px;
	@media screen and (max-width: $md) {
		padding: 30px 0 30px;
	}
	& .container {
		max-width: 1354px;
		@media screen and (max-width: $lg) {
			padding: 0;
		}
	}
	&__body {
		border-radius: 60px;
		background-color: $grayColorF2;
		padding: 55px 92px 67px 92px;
		background-image: url("../img/factories/bg.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
		@media screen and (max-width: $lg) {
			border-radius: 30px;
			padding: 40px 20px;
			background-position: 0 -10px;
		}
	}
	&-slider {
		position: relative;
		padding: 0 10px;
		&.disabled {
			& .factories__item{
				width: auto;
				&:not(:last-child){
					margin-right: 49px;
				}
			}
		}
	}
	&__controls{
		@media screen and (max-width: $lg) {
         & .slide-arrow__prev{
				left: 0;
			}
			& .slide-arrow__next{
				right: 0;
			}
      }
	}
}
.item-factories {
	display: flex;
	justify-content: center;
	align-items: center;
	&__image {
		& img {
			height: auto;
			width: 100%;
		}
	}
}
