* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}

button:focus,
input:focus{
	outline: none;
}
aside,
nav,
footer,
header,
section,
main {
	display: block;
}
html,
body {
	height: 100%;
	min-width: $minWidth + px;
}
body {
	font-size: $fontSize;
	color: $mainColor;
	font-weight: $fontWeight;
	background-color: $mainBackground;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-anchor: none;
}
a:focus,
a:active {
	outline: none;
}
a:link,
a:visited {
	text-decoration: none;
}
a {
	color: inherit;
}
input::-ms-clear {
	display: none;
}
button,
input {
	cursor: pointer;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}
img {
	vertical-align: top;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
