section.clients-banner
   .clients-banner__container 
      .clients-banner__inner
         .clients-banner__info 
            .header-block.header-block__clients-banner
               h2.header-block__title Подарки с логотипами
            .clients-banner__text 
               p Сладкие корпоративные подарки с символикой вашей компании — признак отменного вкуса
               a(href="#").clients-banner__button.btn.btn-green Выбрать подарок
         .clients-banner__image.ibg
            img(src="img/clients/banner.jpg", alt="")