-
   advantages = [
      {
         icon: "icon-1",
         title: "широкий ассортимент презентов на любой вкус для детей разных возрастов"
      },
      {
         icon: "icon-2",
         title: "доступные цены от производителей без лишних наценок"
      },
      {
         icon: "icon-3",
         title: "оперативная доставка во все города РФ транспортной компанией"
      },
      {
         icon: "icon-4",
         title: "многочисленные положительные отзывы от наших клиентов"
      },
      {
         icon: "icon-5",
         title: "удобные способы оплаты: наличный,&nbsp;безналичный расчет, <br> оплата по карте"
      },
      {
         icon: "icon-6",
         title: "возможность заказа любого количества продукции"
      },
   ]
.about-advantages 
   .about-advantages__container 
      .about-advantages__header 
         h2.about-advantages__title Преимущества интернет-магазина сладких новогодних подарков «Комплекс-НН»
         .about-advantages__subtitle Почему следует приобретать сладкие новогодние подарки в интернет магазине «Комплекс-НН»? Наши преимущества очевидны:
      .about-advantages__items
         each item in advantages
            .about-advantages__item
               .about-advantages__icon
                  .about-advantages__circle
                     img(src=`img/about/advantages-${item.icon}.svg`, alt="")
               .about-advantages__content
                  h3.about-advantages__text!= item.title