.category-sorting
	.category-sorting__label Сортировать:
	.category-sorting__button По цене
	ul.category-sorting__list.dropdown-list
		li.dropdown-list По цене
		li.dropdown-list По рейтингу
		li.dropdown-list По популярности