section.clients-order
   .clients-order__container 
      h2.clients-order__title.clients-title <span class="color-red">ВНИМАНИЕ:</span> Доставка по Нижнему Новгороду от 10 наборов – <span class="color-green">БЕСПЛАТНО!</span>
      |
      |
      a(href="#").clients-order__button.btn Заказать демонстрацию 