-
   product = [
      {
         "img": "product-3",
         "article": "#0184",
         "name": "Чемодан Фантазия маленький",
         "price": "1005 ₽",
         "badge": "Хит",
         "delete": '<div class="card-product__delete icon-delete"></div>',
         "selectedClass": "selected",
         choice: [
            {
               "title": "Классик",
               "value": "700 г",
               "checked": true,
               "radio": "compare-1"
            },
            {
               "title": "Премиум",
               "value": "600 г",
               "checked": false,
               "radio": "compare-1"
            },
            {
               "title": "VIP",
               "value": "300 г",
               "checked": false,
               "radio": "compare-1"
            },
         ]
      },
      {
         "img": "product-4",
         "article": "#0225",
         "name": "Почта-копилка",
         "price": "1005 ₽",
         "badge": "Хит",
         "delete": '<div class="card-product__delete icon-delete"></div>',
         "selectedClass": "selected",
         choice: [
            {
               "title": "Классик",
               "value": "550 г",
               "checked": true,
               "radio": "compare-2"
            },
            {
               "title": "Премиум",
               "value": "600 г",
               "checked": false,
               "radio": "compare-2"
            },
            {
               "title": "VIP",
               "value": "300 г",
               "checked": false,
               "radio": "compare-2"
            },
         ]
      },
   ]
.compare__products.products-compare
   .products-compare__inner 
      .products-compare__actions 
         a(href="#").products-compare__button.btn.btn-green Добавить товар
         .checkbox-item.compare-checkbox
            label
               input(type="checkbox").real-checkbox
               span.custom-checkbox 
               span.checkbox-item__text Только различия
      .products-compare__cards.compare-cards 
         include product-card

