section.consultation
   .container
      .consultation__body
         .container
            .consultation__content
               .header-block.header-block__consultation
                  h2.header-block__title
                     span.header-block__text. 
                        Остались вопросы? <br>
                        Получите бесплатную консультацию!
               form.form(action="#")
                  .form-group
                     .form__item 
                        input(type="text" placeholder="Ваше имя" autocomplete="off").form__input
                     .form__item 
                        input(type="number" placeholder="Ваш телефон" autocomplete="off").form__input
                     .form__item 
                        button(type="submit").form__button.btn Отправить
                  .checkbox-item
                     label
                        input(type="checkbox").real-checkbox
                        span.custom-checkbox 
                        span.checkbox-item__text Я согласен на
                     a(href="#").form__link обработку персональных данных
         .consultation__image 
            img(src="img/consultation/pic-right.png", alt="")