section.contacts 
	.contacts__container 
		.contacts__inner 
			.contacts-info
				.contacts-item.contacts-item__address
					p.contacts-item__label.
						Приглашаем Вас посетить наш офис и демонстрационный зал, которые расположены по адресу:
					.contacts-item__inner 
						span.contacts-item__icon.icon-location
						span.contacts-item__data.
							<strong>603096, г. Нижний Новгород, ул. Силикатная, д.4. <br> Бизнес-Центр “Комплекс-Групп”</strong>
				.contacts-item.contacts-item__department
					h2.contacts-item__title Отдел Продаж
					ul.contacts-item__list
						li 
							a(href="tel:+78312239969").contacts-item__link +7 (831) 223-99-69
							span.contacts-item__descr  (пн-пт, 8.00-21.00)
						li 
							a(href="tel:+78312239960").contacts-item__link +7 (831) 223-99-60 
							span.contacts-item__descr <strong>(доб.7749)</strong>  (пн-пт, 9.00-17.00)
						li 
							a(href="tel:+79036049210").contacts-item__link +7 (903) 604-92-10,
							a(href="tel:+79601991221").contacts-item__link  +7 (960) 199-12-21
							span.contacts-item__descr  (пн-пт, 8.00-20.00)
				.contacts-item
					h2.contacts-item__title Бухгалтерия
					a(href="tel:+78312239965").contacts-item__link +7 (831) 223-99-65
				.contacts-item
					.contacts-item__inner 
						span.contacts-item__icon.icon-email
						ul.contacts-item__list
							li 
								a(href="mailto:podaroknn@inbox.ru").contacts-item__link podaroknn@inbox.ru
							li 
								a(href="mailto:info@podarok-nnov.ru").contacts-item__link info@podarok-nnov.ru
						.contacts-item__social.social-contacts
							ul.social-contacts__list
								li 
									a(href="#").social-contacts__link
										img(src="img/contacts/whatsapp.svg", alt="")
								li 
									a(href="#").social-contacts__link
										img(src="img/contacts/viber.svg", alt="")
								li 
									a(href="#").social-contacts__link
										img(src="img/contacts/vk.svg", alt="")
				.contacts-item
					h2.contacts-item__title Реквизиты
					p.contacts-item__label.
						ООО «Комплекс-НН», ИНН 5260137430, ОГРН 1045207467854
				.contacts-item
					.contacts-item__inner 
						span.contacts-item__icon.icon-time
						span.contacts-item__data.
							Режим работы склада с 1 декабря: <br> пн-пт, 9.00-19.00
			.contacts-map 
				.contacts-map__place(id="ymap")
				span.contacts-map__warning.color-red Перед тем, как выехать за заказом, пожалуйста, ознакомьтесь со схемой проезда