section.package
   .container
      .package__body
         .package__content
            .header-block.header-block__package
               h2.header-block__title 
                  span.header-block__text упаковка
            .package__text
               p Стоимость работ определяется в соответствии с&nbsp;техническим заданием (вид упаковки, сложность фасовки, количественный объем фасовки). Минимальная  сумма заказа для фасовки новогодних подарков - 40 000 рублей.
            a(href="").package__btn.btn.btn-green Выбрать упаковку
         .package__image
            img(src="img/package/img-left.png" alt="")