// Создание Нескольких блоков с сообщениями
-
	let data = [
		{
			name: 'Alex',
			time: '20 марта 2022',
			msg: 'Люблю программирование и математику!<br>Гениями не рождаются, ими становятся!',
		},
		{
			name: 'Alexandr',
			time: '21 марта 2022',
			msg: 'Люблю программирование!<br>Гениями не рождаются, ими становятся!',
		},
		{
			name: 'Ivan',
			time: '22 марта 2022',
			msg: 'Не люблю математику!',
			banned: true,
		},
	];

each dataItem in data
	.message(class={ banned: dataItem.banned })
		img.image(src="http://picsum.photos/seed/" + dataItem.name + "/64")
		.info
			.info-header
				a.name(href="google.com")= dataItem.name
				.info__time= dataItem.time
			.info-content!= dataItem.msg