section.prize
   .container
      .header-block.header-block__prize
         h2.header-block__title
            span.header-block__text cладкие подарки
      .prize__body
         .prize-inner
            a(href="").prize__item.item-prize.item-prize--symbol.item-prize--big
               .item-prize__image
                  img(src="img/prize/1.png", alt="")
               .item-prize__content
                  .item-prize__text.icon-arrow-link Символ года
            a(href="").prize__item.item-prize.item-prize--cardboard.item-prize--min
               .item-prize__image
                  img(src="img/prize/2.png", alt="")
               .item-prize__content
                  .item-prize__text.icon-arrow-link В картоне
            a(href="").prize__item.item-prize.item-prize--bag.item-prize--min
               .item-prize__image
                  img(src="img/prize/3.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link В мешочке
            a(href="").prize__item.item-prize.item-prize--toy.item-prize--long
               .item-prize__image
                  img(src="img/prize/4.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link В мягкой игрушке
            a(href="").prize__item.item-prize.item-prize--tin.item-prize--long
               .item-prize__image
                  img(src="img/prize/5.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link Жестяные
            a(href="").prize__item.item-prize.item-prize--dolls.item-prize--big
               .item-prize__image
                  img(src="img/prize/8.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link Куклы
            a(href="").prize__item.item-prize.item-prize--chests.item-prize--min
               .item-prize__image
                  img(src="img/prize/6.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link Сундуки и шкатулки
            a(href="").prize__item.item-prize.item-prize--tuba.item-prize--min
               .item-prize__image
                  img(src="img/prize/7.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link В тубе
            a(href="").prize__item.item-prize.item-prize--vip.item-prize--big
               .item-prize__image
                  img(src="img/prize/9.png", alt="")
               .item-prize__content
                  .item-prize__text.icon-arrow-link VIP подарки
            a(href="").prize__item.item-prize.item-prize--ceramics.item-prize--min
               .item-prize__image
                  img(src="img/prize/10.png", alt="")
               .item-prize__content
                  .item-prize__text.icon-arrow-link Керамика и фетр
            a(href="").prize__item.item-prize.item-prize--candies.item-prize--min
               .item-prize__image
                  img(src="img/prize/11.png", alt="")
               .item-prize__content 
                  .item-prize__text.icon-arrow-link Конфеты в коробках
            a(href="").prize__item.item-prize.item-prize--new.item-prize--long
               .item-prize__image
                  img(src="img/prize/12.png", alt="")
               .item-prize__content
                  .item-prize__text.icon-arrow-link Новинки