-
   reviews = [
      {
         icon: "И",
         name: "Ирина",
         date: "25.07.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "П",
         name: "Павел",
         date: "29.06.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
   ]
.reviews__body 
   a.reviews__button.btn.btn-green(data-modal-button="reviews") Написать отзыв
   .reviews-items
      each item in reviews
         .reviews-item
            .reviews-item__data.data-reviews
               .data-reviews__icon= item.icon
               .data-reviews__name= item.name
               .data-reviews__date= item.date 
            .reviews-item__content 
               ul.reviews-item__rating 
                  li 
                     img(src="img/icons/star.svg", alt="")
                  li 
                     img(src="img/icons/star.svg", alt="")
                  li 
                     img(src="img/icons/star.svg", alt="")
                  li 
                     img(src="img/icons/star.svg", alt="")
                  li 
                     img(src="img/icons/star.svg", alt="")
               .reviews-item__text 
                  p= item.text
   a(href="#").reviews__button.reviews__show-more.btn.btn-green Показать ещё