section.sale 
	.container 
		.sale__body
			.sale__content
				.header-block.header-block__sale
					h2.header-block__title
						span.header-block__text.
							Сладкие подарки <span class="red">оптом</span> 
							в&nbsp;интернет магазине <span class="green">“Наш Подарок”</span>
				.sale__text
					p Для многих компаний и детских учреждений актуально приобретать сладкие подарки оптом. Но, к сожалению, не все магазины предоставляют такую возможность. И даже если предоставляют, то предлагают невыгодные условия, на которых гораздо проще покупать презенты поштучно.
					p Начинать заказывать сладкие новогодние подарки оптом следует заранее, а не накануне самого празднования. В нашем интернет магазине «Наш Подарок» (ООО «Комплекс-НН») начинают оформлять заявки на сладкие презенты уже за несколько месяцев, пока они есть в наличии в нужном количестве. Ведь даже на складах у поставщиков запасы сладких новогодних подарков заканчиваются. Именно поэтому так важно побеспокоиться о закупке подарков на новый год заранее.
					p У нас вы сможете купить новогодние подарки оптом за несколько месяцев, а доставим вам их в удобное время и в любой регион России транспортной компанией или другим оптимальным для вас способом. Заказывать сладкие презенты оптом на нашем сайте очень удобно и выгодно 
				a(href="#").sale__button.btn.btn-green Выбрать подарки 