section.steps
	.container
		.header-block.header-block__steps
			h2.header-block__title
				span.header-block__text Схема нашего с вами взаимодействия
		.steps__body 
			.steps__row.row-steps--top
				.step-item 
					.step-item__icon 
						img(src="img/steps/icon-3.svg", alt="")
					.step-item__text Резервирование подарков
			.steps__row.row-steps--middle
				.step-item 
					.step-item__icon 
						img(src="img/steps/icon-2.svg", alt="")
					.step-item__text Заключение договора
				.step-item 
					.step-item__icon 
						img(src="img/steps/icon-4.svg", alt="")
					.step-item__text Оплата заказа и согласование даты&nbsp;отгрузки
			.steps__row.row-steps--bottom
				.step-item 
					.step-item__icon 
						img(src="img/steps/icon-1.svg", alt="")
					.step-item__text Заказ подарков
				.step-item.step-item__result
					.step-item__icon 
						img(src="img/steps/icon-5.svg", alt="")
					.step-item__text Получение подарков заказчиком