.accordeon
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next Менеджер по продажам 
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					<strong>Условия работы:</strong> свободный график, работа удаленная, сезонная.
				li.
					<span class="indicator"></span>
					<strong>Зарплата:</strong> процент от суммы продаж - вы получаете 8%. (средний заработок за сезон от 100 000 до 400 000 рублей).
				li.
					<span class="indicator"></span>
					<strong>Возраст:</strong> от 20 до 60 лет
				li.
					<span class="indicator"></span>
					<strong>Требования:</strong>  опыт работы в продажах, обязательно наличие компьютера и выделенной линии интернет, хорошее знание ПК, 
					умение вести переговоры на любом уровне,поиск клиентов (собственная база приветствуется).
				li.
					<span class="indicator"></span>
					<strong>Обязанности:</strong> активный поиск клиентов, заключение договоров на поставку новогодних подарков, прием заказов от клиентов, ведение клиента до отгрузки. 
	.item-accordeon__header.icon-arrow-next Дизайнер
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.item-accordeon__header.icon-arrow-next Специалист по кадрам
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	