extends base/layout.pug

block vars 
   - var pageTitle = "Карточка товара";


block content
   div.breadcrumbs.container
      ul.breadcrumbs__list 
         li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Сладкие подарки
         li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Жестяные
         li.breadcrumbs__item Почта-копилка
   include ./components/card/card-slider
   include ./components/card/card-features
   include ./components/card/card-tabs
   include ./components/card/card-similar
   include ./components/card/card-viewed