extends base/layout.pug

block vars 
   - var pageTitle = "Корпоративным клиентам";

block content
   div.breadcrumbs.container
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная
         li.breadcrumbs__item= pageTitle
   .clients-page 
      include ./components/clients-banner
      include ./components/clients-sets
      include ./components/clients-stages
      include ./components/clients-order
      include ./components/consultation
      include ./components/popular