extends base/layout.pug

block vars 
	- var pageTitle = "Соберите подарок";
	- var currentTitle = "Сладкие подарки";

block content
	div.breadcrumbs.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Главная
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link= pageTitle
			li.breadcrumbs__item= currentTitle
	.collect-page
		.collect-page__container 
			h1.collect-page__title.general__title наборы из орехов и сухофруктов
		section.collect 
			include ./components/collect/nuts-fruits/nuts-fruits-tabs
			include ./components/collect/nuts-fruits/nuts-fruits-footer
		include ./components/consultation