extends base/layout.pug

block vars 
	- var pageTitle = "Главная";
	- var bodyClass = "home";

block content
	include ./components/main/banner
	include ./components/main/advantages
	include ./components/main/prize
	include ./components/main/package
	include ./components/main/nuts
	include ./components/main/delivery
	include ./components/main/products
	include ./components/main/factories
	include ./components/main/steps
	include ./components/main/sale
	include ./components/main/retail
	include ./components/consultation
