extends base/layout.pug

block vars 
	- var pageTitle = "Главная";
	- var bodyClass = "home";

block content
	include ./components/banner
	include ./components/advantages
	include ./components/prize
	include ./components/package
	include ./components/nuts
	include ./components/delivery
	include ./components/products
	include ./components/factories
	include ./components/steps
	include ./components/sale
	include ./components/retail
	include ./components/consultation
