.favorites {
   padding-bottom: 130px;
   @media screen and (max-width: $md) {
      padding-bottom: 65px;
   }
   &__remove-btn {
      background: transparent;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-bottom: 20px;
      gap: 10px;
      color: $redColor;
      font-weight: 500;
      font-size: 18px;
      line-height: math.div(20, 18) * 100%;
      &::before {
         font-size: 14px;
         width: 29px;
         height: 29px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1.3px solid $redColor;
         color: currentColor;
         border-radius: 50%;
         transition: transform 0.2s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover::before {
            transform: rotate(-90deg);
         }
      }
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 30px 29px;
      @media screen and (max-width: 1100px) {
         gap: 15px;
         grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: $md) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: $sm) {
         display: block;
         & > *:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }
}
.favorites .content-title {
   &.hidden {
      display: none;
   }
}
