.order {
	padding-bottom: 130px;
	@media screen and (max-width: $md) {
		padding-bottom: 65px;
	}
	&__body {
		display: flex;
		gap: 30px;
		@media screen and (max-width: $lg) {
			flex-direction: column;
		}
	}
	&__payment,
	&__variant {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 31px 30px 24px;
		@media screen and (max-width: $md) {
			padding: 24px;
		}
	}
}
.order-content {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex: 1 1 auto;
}
.payment-order {
	&__title {
		margin-bottom: 21px;
	}
	&__form {
		display: flex;
		flex-wrap: wrap;
		gap: 12px 26px;
		align-items: center;
	}
	&__group {
		& .custom-radio {
			border: 1px solid $grayColorBD;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			&::before {
				width: 12px;
				height: 12px;
			}
		}
		& .real-radio:checked + .custom-radio {
			border: 1px solid $redColor;
		}
	}
}

.variant-order {
	&__title {
		margin-bottom: 22px;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__group {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
		& .custom-radio {
			border: 1px solid $grayColorBD;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			&::before {
				width: 12px;
				height: 12px;
			}
		}
		& .real-radio:checked + .custom-radio {
			border: 1px solid $redColor;
		}
	}
	&__info {
		font-weight: 600;
		font-size: 15px;
		line-height: math.div(22, 15) * 100%;
		text-transform: uppercase;
		& span {
			font-weight: 700;
		}
	}
}
.company-order {
	padding: 22px 0px 24px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1.1fr;
	gap: 15px;
	&.hidden {
		opacity: 0.5;
		pointer-events: none;
	}
	@media screen and (max-width: $md) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: $sm) {
		grid-template-columns: 1fr;
	}
	&__header {
		& .custom-radio {
			border: 1px solid #bdbdbd;
			flex: 0 0 18px;
			height: 18px;
			width: 18px;
			&::before {
				height: 12px;
				width: 12px;
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		@media screen and (max-width: $md) {
			&:last-child {
				grid-column: span 2;
			}
		}
		@media screen and (max-width: $sm) {
			&:last-child {
				grid-column: auto;
			}
		}
	}
	&__logo {
		min-height: 60px;
		margin-left: 20px;
	}
	&__content {
		padding-top: 8px;
		text-align: center;
	}
	&__title {
		font-weight: 700;
		line-height: math.div(24, 16) * 100%;
		font-size: 16px;
	}
	&__descr {
		line-height: math.div(22, 16) * 100%;
	}
	&__link {
		border-bottom: 1px solid $redColorLight;
		font-weight: 700;
		line-height: math.div(22, 16) * 100%;
		color: $redColorLight;
		text-decoration: underline;
	}
}
.order-data {
	flex: 0 0 360px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	&__result.cart-result {
		height: auto;
		position: static;
		flex: 1 1 auto;
	}
	&__body {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 24px;
		@media screen and (max-width: $md) {
			padding: 24px;
		}
	}
	&__title {
		margin-bottom: 26px;
		@media screen and (max-width: $md) {
			margin-bottom: 22px;
		}
	}
	&__form {
		& .form__button {
			max-width: 100%;
			width: 100%;
		}
	}
}
.order-data__form {
	width: 100%;
	& .form__items {
	}
	& .form__item {
		max-width: 100%;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media screen and (max-width: $md) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&.focus .form__label {
			transform: translate(16px, -10px);
			color: $greenColor;
		}
	}
	& .form__label {
		line-height: math.div(24, 16) * 100%;
		color: $grayColorBD;
		background: $whiteColor;
		padding: 0 10px;
		position: absolute;
		transform: translate(16px, 8px);
		pointer-events: none;
		transition: transform 0.3s linear 0s;
		&.required::before {
			content: "*";
			position: absolute;
			display: block;
			top: 0;
			left: 4px;
			color: currentColor;
		}
	}
	& .form__input,
	& .form__textarea {
		width: 100%;
		background: $whiteColor;
		border: 1px solid $grayColorBD;
		border-radius: 19px;
		padding: 7px 20px;
		line-height: math.div(24, 16) * 100%;
		color: $mainColor;
		&.error {
			border: 1px solid $redColor;
		}
	}
	& .form__textarea {
		min-height: 140px;
		max-height: 240px;
		resize: vertical;
	}
	& .form__text {
		line-height: 24px;
		display: block;
		padding: 19px 0;
		color: $greenColor;
		text-align: center;
	}
}

.order-result {
	padding-top: 40px;
	padding-bottom: 100px;
	@media screen and (max-width: $md) {
		padding: 20px 0 60px;
	}
	&__button {
		padding: 10px 15px;
	}
	&__body {
		min-height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		& > *:not(:last-child) {
			margin-bottom: 25px;
		}
		& p {
			font-size: 18px;
			line-height: math.div(24, 18) * 100%;
		}
	}
}
