extends layout.pug

block vars 
   - var pageTitle = "О компании";

block content
   div.breadcrumbs.container
         ul.breadcrumbs__list
            li.breadcrumbs__item 
               a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__item= pageTitle 
   section.about
      .about__container
         h1.about__title.general-title= pageTitle
      include ./blocks/about/about-important
      include ./blocks/about/about-guarantees
      include ./blocks/about/about-advantages
      include ./blocks/about/about-delivery
      include ./components/consultation
      include ./components/popular




