extends layout.pug

block vars 
	- var pageTitle = "Корзина";

block content
	div.breadcrumbs.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Главная
			li.breadcrumbs__item= pageTitle
	.cart-page 
		.cart-page__container 
			h1.cart-page__title.general__title= pageTitle
		include ./components/cart/cart-block

