extends layout.pug

block vars 
	- var pageTitle = "Категория Орехи и сухофрукты";
	- var currentTitle = "Орехи и сухофрукты"

block content
	div.breadcrumbs.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Главная
			li.breadcrumbs__item= currentTitle
	.category-page 
		.category-page__container 
			h1.category-page__title.general-title= currentTitle
		div.category 
			.category__container 
				include ./blocks/category/category-sorting
				.category__body
					- let categoryNuts = true;
					include ./blocks/category/category-aside
					include ./blocks/category-nuts/category-content
		include ./components/consultation
		include ./components/popular