extends layout.pug

block vars 
   - var pageTitle = "Корпоративным клиентам";

block content
   div.breadcrumbs.container
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная
         li.breadcrumbs__item= pageTitle
   .clients-page 
      include ./components/clients/clients-banner
      //- include ./components/clients/clients-sets
      //- include ./components/clients/clients-stages
      //- include ./components/clients/clients-order
      include ./components/consultation
      include ./components/popular