extends layout.pug

block vars 
   - var pageTitle = "Доставка и оплата";

block content
   div.breadcrumbs.container
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная
         li.breadcrumbs__item= pageTitle
   .delivery-page 
      .delivery-page__container 
         h1.delivery-page__title.general-title= pageTitle
      include ./blocks/delivery/delivery-terms
      include ./blocks/delivery/delivery-variants
      include ./blocks/delivery/delivery-making
      include ./components/consultation
      include ./components/popular