extends layout.pug

block vars 
   - var pageTitle = "Избранное";


block content
   div.breadcrumbs.container
      ul.breadcrumbs__list 
         li.breadcrumbs__item 
            a(href="#").breadcrumbs__link Главная
         li.breadcrumbs__item= pageTitle
   .favorites-page 
      .favorites-page__container 
         .favorites-page__title.general__title= pageTitle
   include ./components/favorites/favorites-cards
