extends layout.pug

block vars 
	- var pageTitle = "Главная";
	- var bodyClass = "home";

block content
	include ./blocks/main/banner
	include ./blocks/main/advantages
	include ./blocks/main/prize
	include ./blocks/main/package
	include ./blocks/main/nuts
	include ./blocks/main/delivery
	include ./blocks/main/products
	include ./blocks/main/factories
	include ./blocks/main/steps
	include ./blocks/main/sale
	include ./blocks/main/retail
	include ./components/consultation
