block vars 
	- var pageTitle = "title of this site";
	- var bodyClass = "home";

doctype html
html(lang="ru")
	include ./variables
	include components/Head/head
	body(class=bodyClass)
		.wrapper
			include components/Header/header
			main.content
				block content
			
			include components/Footer/footer

			include components/Modals/modals
		.overlay
		block scripts
			script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
			script(src="scripts/app.min.js")