block vars 
	- var pageTitle = "title of this site";
	- var bodyClass = "home";

doctype html
html(lang="ru")
	include chunks/head
	body(class=bodyClass)
		.wrapper
			include chunks/header
			main.content
				block content
			
			include chunks/footer

			include chunks/modals
		.overlay
		block scripts
			script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
			script(src="scripts/app.min.js")