block vars 
	- var siteTitle = "Новогодние подарки"

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{siteTitle}
	body
		div.rootpage
			h1.rootpage__title #{siteTitle}
			div.rootpage__description
				p.
				<b>Описание:</b> Адаптивная верстка интернет магазина. Проработка адаптива без макетов.
			span.rootpage__text Ниже вы найдете ссылки на все страницы. Для просмотра кликайте на нужную страничку (откроется в новом окне)
			h2 Страницы:
			- 
				rootlinks = [
					{
						title: "Главная",
						link: "index.html"
					},
					{
						title: "Карточка товара",
						link: "card.html"
					},
					{
						title: 'Категория "Сладкие подарки"',
						link: "category.html"
					},
					{
						title: 'Категория "Орехи и сухофрукты"',
						link: "category-nuts.html"
					},
					{
						title: "О Компании",
						link: "about.html"
					},
					{
						title: "Сертификаты",
						link: "certificate.html"
					},
					{
						title: "FAQ (Вопрос - ответ)",
						link: "faq.html"
					},
					{
						title: "Отзывы",
						link: "reviews.html"
					},
					{
						title: "Вакансии",
						link: "vacancy.html"
					},
					{
						title: "Доставка и оплата",
						link: "delivery-and-payment.html"
					},
					{
						title: "Корпоративным клиентам",
						link: "clients.html"
					},
					{
						title: "Контакты",
						link: "contacts.html"
					},
					{
						title: "Избранное",
						link: "favorites.html"
					},
					{
						title: "Корзина",
						link: "cart.html"
					},
					{
						title: "Оформление заказа",
						link: "order.html"
					},
					{
						title: "Соберите подарок (Выбор раздела)",
						link: "collect.html"
					},
					{
						title: "Соберите подарок (Сладкие подарки)",
						link: "collect-gifts.html"
					},
					{
						title: "Соберите подарок (Орехи и сухофрукты)",
						link: "collect-nutsfruits.html"
					},
				]
			ol.rootpage__list
				each item in rootlinks
					li 
						a(target="_blank", href=item.link)= item.title
				
		style.
			@charset "UTF-8";
			@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap");

			*,
			*::before,
			*::after {
				padding: 0px;
				margin: 0px;
				border: 0px;
				box-sizing: border-box;
			}

			ul,
			ol,
			li {
				list-style: none;
			}

			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
				min-height: 100%;
				min-width: 320px;
				width: 100%;
				color: #fff;
				background: linear-gradient(140deg, #AF6480, #A0F1EA);
				background-repeat: no-repeat;
				background-size: 200%;
				animation: gradient 10s infinite;
			}

			.rootpage__description {
				font-size: 18px;
			}

			.rootpage__text {
				font-size: 14px;
				margin: 18px 0 18px;
				letter-spacing: 0.5px;
			}

			ol {
				counter-reset: numbers;
			}

			ol li {
				position: relative;
				padding: 0 0 0 30px;
			}

			ol li::before {
				counter-increment: numbers;
				content: counter(numbers) ".";
				position: absolute;
				left: 0;
				top: 0;
				font-size: 16px;
				font-weight: 500;
				text-align: right;
				color: inherit;
			}

			@keyframes gradient {
				0% {
					background-position: 0 50%;
				}

				50% {
					background-position: 100% 50%;
				}

				100% {
					background-position: 0 50%;
				}
			}

			body {
				height: auto;
				font-family: 'Montserrat', sans-serif;
				font-size: 100%;
				line-height: 1;
				font-size: 1rem;
			}

			a {
				position: relative;
				color: #FFFFFF;
				text-decoration: none;
			}

			/*		a:visited {
				color: #A9C7C5;
			}
			a:visited:after {
				background-color: #A9C7C5;
			}*/
			@media (min-width: 768px) {
				a:after {
					display: block;
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #FFFFFF;
					content: "";
					transition: width 0.3s ease-out;
					pointer-events: none;
				}

				a:hover:after {
					width: 0%;
				}
			}

			.rootpage {
				padding: 30px;
				min-height: 100vh;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				overflow: hidden;
			}

			@media (max-width: 767px) {
				.rootpage {
					padding: 30px 15px;
				}
			}

			h1 {
				color: #F5EFEB;
				font-size: 2.5rem;
				margin: 0px 0px 1.25rem 0px;
			}

			@media (max-width: 767px) {
				h1 {
					font-size: 1.85rem;
					margin: 0px 0px 1.25rem 0px;
				}
			}

			h2 {
				color: #F5EFEB;
				font-size: 1.25rem;
				margin: 0px 0px 1rem 0px;
			}

			@media (max-width: 767px) {
				h2 {
					font-size: 1.125rem;
					margin: 0px 0px 1rem 0px;
				}
			}

			.rootpage__list {
				margin: 0px 0px 2.25rem;
			}

			.rootpage__list li:not(:last-child) {
				margin: 0px 0px 15px 0px;
			}

			::selection {
				background: #81B29A;
				/* Safari */
			}

			::-moz-selection {
				background: #81B29A;
				/* Firefox */
			}
