extends layout.pug

block vars 
	- var pageTitle = "Вакансии";

block content
	div.breadcrumbs.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Главная
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link О компании
			li.breadcrumbs__item= pageTitle
	section.vacancy
		.vacancy__container 
			h1.vacancy__title.general-title= pageTitle
			include ./components/vacancy/vacancy-accordeon
	include ./components/consultation
	include ./components/popular