-
	menu = [
		{	
			"title": "Главная",
			"link": "/",
			"submenu": [
				{
					"title": "Пункт 1",
					"link": "/",
				},
				{
					"title": "Пункт 2",
					"link": "/",
				},
				{
					"title": "Пункт 3",
					"link": "/",
				},
			]
		},
		{	
			"title": "о компании",
			"link": "#",
		},
		{	
			"title": "новости",
			"link": "#",
		},
		{	
			"title": "контакты",
			"link": "#",
		},
	];