-
	collectChocolate = [
		{
			"img": "sweet-gifts/chocolate/1",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": "Молочная плитка CHO KO-TE «малина-манго» Эссен",
			"value": "43 г"
		},
		{
			"img": "sweet-gifts/chocolate/2",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": 'Шоколадный батончик "QVINTO" Эссен',
			"value": "29 г"
		},
		{
			"img": "sweet-gifts/chocolate/3",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": "“Шоколашки” Эссен",
			"value": "7 г"
		},
		{
			"img": "sweet-gifts/chocolate/4",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": 'Шоколадный батончик "Мишки в лесу" Победа',
			"value": "30 г"
		},
		{
			"img": "sweet-gifts/chocolate/5",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": 'Шоколадный батончик КДВ/Сладко',
			"value": "42 г"
		},
		{
			"img": "sweet-gifts/chocolate/6",
			"tooltip": "sweet-gifts/chocolate/tooltip-1",
			"title": 'Шоколад Яшкино/Альпийская сказка Славянка',
			"value": "90 г"
		},
	],
	collectCandies = [
		{
			"img": "sweet-gifts/candies/1",
			"tooltip": "sweet-gifts/candies/1",
			"title": 'Конфеты “Беларусские” Коммунарка',
			"value": "16 г"
		},
		{
			"img": "sweet-gifts/candies/2",
			"tooltip": "sweet-gifts/candies/2",
			"title": 'Конфеты “Березка” Коммунарка',
			"value": "29 г"
		},
		{
			"img": "sweet-gifts/candies/3",
			"tooltip": "sweet-gifts/candies/3",
			"title": 'Конфеты “Беловежская пуща” вкус <br> в ассортименте. Коммунарка',
			"value": "50 г"
		},
		{
			"img": "sweet-gifts/candies/4",
			"tooltip": "sweet-gifts/candies/4",
			"title": 'Конфеты “Коммунарка” Коммунарка',
			"value": "16 г"
		},
		{
			"img": "sweet-gifts/candies/5",
			"tooltip": "sweet-gifts/candies/5",
			"title": 'Конфеты “Трюфель” Коммунарка',
			"value": "15 г"
		},
		{
			"img": "sweet-gifts/candies/6",
			"tooltip": "sweet-gifts/candies/6",
			"title": 'Конфеты “Соната” вафельная Победа',
			"value": "13,5 г"
		},
		{
			"img": "sweet-gifts/candies/7",
			"tooltip": "sweet-gifts/candies/7",
			"title": 'Конфеты ”Мишки в лесу” вафельная Победа',
			"value": "14 г"
		},
		{
			"img": "sweet-gifts/candies/8",
			"tooltip": "sweet-gifts/candies/8",
			"title": 'Конфеты “Мишки в лесу” пралине Победа',
			"value": "17,4 г"
		},
		{
			"img": "sweet-gifts/candies/9",
			"tooltip": "sweet-gifts/candies/9",
			"title": 'Конфеты “Соната” пралине Победа',
			"value": "17,7 г"
		},
	],
	collectPaperboard = [
		{
			"img": "sweet-gifts/paperboard/1",
			"tooltip": "sweet-gifts/paperboard/2",
			"title": 'Снежинка золотая',
			"value": "200-300 г",
			"price": "24,50 ₽"
		},
		{
			"img": "sweet-gifts/paperboard/2",
			"tooltip": "sweet-gifts/paperboard/2",
			"title": 'Сладкий конвертик',
			"value": "200-300 г",
			"price": "24,50 ₽"
		},
		{
			"img": "sweet-gifts/paperboard/3",
			"tooltip": "sweet-gifts/paperboard/3",
			"title": 'Кристалл',
			"value": "200-350 г",
			"price": "26,50 ₽"
		},
		{
			"img": "sweet-gifts/paperboard/4",
			"tooltip": "sweet-gifts/paperboard/4",
			"title": 'Мишка бурый',
			"value": "350-550 г",
			"price": "22,80 ₽ "
		},
		{
			"img": "sweet-gifts/paperboard/5",
			"tooltip": "sweet-gifts/paperboard/5",
			"title": 'Почта деда мороза',
			"value": "400-550 г",
			"price": "24,50 ₽"
		},
	],
	collectTin = [
		{
			"img": "sweet-gifts/tin/1",
			"tooltip": "sweet-gifts/tin/1",
			"title": 'Зимние забавы',
			"value": "350-450 г",
			"price": "217 ₽"
		},
		{
			"img": "sweet-gifts/tin/2",
			"tooltip": "sweet-gifts/tin/2",
			"title": 'Почта-копилка',
			"value": "500-600 г",
			"price": "367,50 ₽"
		},
		{
			"img": "sweet-gifts/tin/3",
			"tooltip": "sweet-gifts/tin/3",
			"title": 'Короб почтальона Ассорти',
			"value": "500-600 г",
			"price": "367,50 ₽"
		},
	],
	collectTuba = [
		{
			"img": "sweet-gifts/tuba/1",
			"tooltip": "sweet-gifts/tuba/1",
			"title": 'Оленята большая',
			"value": "700-800 г",
			"price": "193 ₽"
		},
		{
			"img": "sweet-gifts/tuba/2",
			"tooltip": "sweet-gifts/tuba/2",
			"title": 'Прогулка',
			"value": "750-800 г",
			"price": "175 ₽"
		},
	],
	collectBags = [
		{
			"img": "sweet-gifts/bags/1",
			"tooltip": "sweet-gifts/bags/1",
			"title": 'Мешок "В шоколаде"',
			"value": "700-800 г",
			"price": "193 ₽"
		},
		{
			"img": "sweet-gifts/bags/2",
			"tooltip": "sweet-gifts/bags/2",
			"title": 'Мешок "Почта с севера"',
			"value": "700-800 г",
			"price": "193 ₽"
		},
		{
			"img": "sweet-gifts/bags/3",
			"tooltip": "sweet-gifts/bags/3",
			"title": 'Мешок "Почта с севера"',
			"value": "700-800 г",
			"price": "193 ₽"
		},
	],
	collectTextile = [
		{
			"img": "sweet-gifts/textile/1",
			"tooltip": "sweet-gifts/textile/1",
			"title": 'Мешок "В шоколаде"',
			"value": "700-800 г",
			"price": "193 ₽"
		},
	]
section.collect-tabs
	.collect__container 
		.tabs__body 
			ul.tabs__list 
				li.tabs__item
					a.tabs__link.active(href="#goods" data-tab="1" id="goods") Товары
				li.tabs__item
					a.tabs__link(href="#package" data-tab="2") Упаковка
			div.tabs__content.tabs-content.show(data-tab-content="1")
				include ./sweet-gifts-tab-product
			div.tabs__content.tabs-content(data-tab-content="2")
				include ./sweet-gifts-tab-package