-
	collectFooter = {
		btnOrder: "Заказать",
		btnCart: "Добавить в корзину",
		list: [
			{
				name: "Уникальных позиций",
				value: "18"
			},
			{
				name: "Количество",
				value: "20 шт."
			},
			{
				name: "Вес",
				value: "870 гр.",
				important: "important"
			},
			{
				name: "Упаковка",
				value: "195 ₽"
			},
		]
	};
include ../collect-footer