.about-delivery 
	.about-delivery__container 
		.about-delivery__title Доставка
		.about-delivery__text.
			Доставка из нашего интернет магазина новогодних подарков 
			для детей осуществляется <strong>в любой регион России</strong>.
			Но напоминаем, что <span class="color-red">срок формирования заказа осуществляется в течение 3 дней</span>. 
			Срок доставки зависит от удаленности вашего региона. 
			Среди компаний по новогодним подаркам мы являемся одной из самых лучших. 
			И наши преимущества это в очередной раз доказывают. 
			<span class="color-green">Ждем ваших заказов уже сегодня!</span>