.collect-footer.footer-collect.container(id="collect-footer")
	div.collect-wrapper
		.footer-collect__items
			.footer-collect__item
				.footer-collect__item-wrap
					.footer-collect__actions
						.footer-collect__buttons 
							a(href="#").footer-collect__button.btn.btn-red Заказать
							a(href="#").footer-collect__button.btn.btn__zero Добавить в корзину
						.footer-collect__exports
							a(href="#").footer-collect__export.icon-photo
							a(href="#").footer-collect__export.icon-download
					.footer-collect__info
						p Вес подарка и соответственно стоимость могут отличаться от заявленных значений, но&nbsp;не более/менее <strong>3%</strong>
				.footer-collect__result.result-collect
					ul.result-collect__list
						li.result-collect__item
							.result-collect__name
								span Уникальных позиций
							.result-collect__value 18
						li.result-collect__item
							.result-collect__name
								span Количество
							.result-collect__value 20 шт.
						li.result-collect__item
							.result-collect__name
								span(class="important") Вес
							.result-collect__value 870 гр.
						li.result-collect__item
							.result-collect__name
								span Упаковка
							.result-collect__value 195 ₽
					.result-collect__total
						.result-collect__name <span class="important">Итого</span>
						.result-collect__value 0 ₽