.collect-footer.footer-collect.container(id="collect-footer")
	div.collect-wrapper
		.footer-collect__items
			form.footer-collect__item.form(method="post" id="calcResultForm")
				input(type="hidden" name="weight" data-name="weight")
				input(type="hidden" name="price" data-name="price")
				input(type="hidden" data-name="data")
				.footer-collect__item-wrap
					.footer-collect__actions
						.footer-collect__buttons(data-da=".footer-collect__item,991.98,0") 
							button(type="button" data-modal-button="order" disabled).footer-collect__button.btn.btn-red#calcMakeOrder Заказать
							button(type="button").footer-collect__button.btn.btn__zero#calcAddToCart Добавить в корзину
						.footer-collect__exports
							button(type="button" disabled).footer-collect__export.icon-photo#print
							button(type="button").footer-collect__export.icon-download#download
					.footer-collect__info
						p Вес подарка и соответственно стоимость могут отличаться от заявленных значений, но&nbsp;не более/менее <strong>3%</strong>
				.footer-collect__result.result-collect
					ul.result-collect__list
						li.result-collect__item
							.result-collect__name
								span Уникальных позиций
							.result-collect__value(data-calc-position)#calc_totalUniq 18
						li.result-collect__item
							.result-collect__name
								span Количество
							.result-collect__value(data-calc-count)#calc_totalQuan 20 шт.
						li.result-collect__item
							.result-collect__name
								span(class="important") Вес
							.result-collect__value(data-calc-weight)#calc_totalWeight 870 гр.
						li.result-collect__item
							.result-collect__name
								span Упаковка
							.result-collect__value(data-calc-package)#calc_totalPack 195 ₽
					.result-collect__total
						.result-collect__name <span class="important">Итого</span>
						.result-collect__value(data-calc-total)#calc_totalPrice 0 ₽
					button.footer-collect__reset(data-modal-button="reset-calc-modal") Очистить выбранное
				.footer-collect__info-adapt
					p Вес подарка и соответственно стоимость могут отличаться от заявленных значений, но&nbsp;не более/менее <strong>3%</strong>
			button(type="button").footer-collect__show-btn.show-btn.icon-arrow-next(data-da=".footer-collect__item-wrap, 767.98, 1")
