-
   reviews = [
      {
         icon: "И",
         name: "Ирина",
         date: "25.07.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "П",
         name: "Павел",
         date: "29.06.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
      {
         icon: "Е",
         name: "Елена",
         date: "15.03.2021",
         text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
      },
   ]
.reviews__body 
   button.reviews__button.btn.btn-green(type="button" data-graph-path="modal-reviews" class="modal-btn") Написать отзыв
   .reviews-items
      each item in reviews
         .reviews-item
            .reviews-item__data.data-reviews
               .data-reviews__icon= item.icon
               .data-reviews__name= item.name
               .data-reviews__date= item.date 
            .reviews-item__content
               ul.reviews-item__rating.reviews-rating__list.r-5
                  li.reviews-rating__item
                  li.reviews-rating__item 
                  li.reviews-rating__item 
                  li.reviews-rating__item 
                  li.reviews-rating__item 
               .reviews-item__text
                  p= item.text
   button(type="button").reviews__button.reviews__show-more.btn.btn-green Показать ещё