-
   product = [
      {
         "img": "products/product-1",
         "article": "#0002",
         "name": "Cнежинка золотая",
         "price": "1005 ₽",
         "priceOld": "1325 ₽",
         "badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
         choice: [
            {
               "title": "Классик",
               "values": ["200 г", "700 г"],
            },
            {
               "title": "Премиум",
               "values": ["600 г", "700 г"],
            },
            {
               "title": "VIP",
               "values": ["300 г", "700 г"],
            },
         ]
      },
      {
         "img": "products/product-2",
         "article": "#0074",
         "name": "Короб почтальона Ассорти",
         "price": "1005 ₽",
         "priceOld": "1325 ₽",
         "badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
         choice: [
            {
               "title": "Классик",
               "values": ["1100 г", "700 г"],
            },
            {
               "title": "Премиум",
               "values": ["600 г", "700 г"],
            },
            {
               "title": "VIP",
               "values": ["300 г", "700 г"],
            },
         ]
      },
      {
         "img": "products/product-3",
         "article": "#0184",
         "name": "Чемодан Фантазия маленький",
         "price": "1005 ₽",
         "priceOld": "1325 ₽",
         "badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
         choice: [
            {
               "title": "Классик",
               "values": ["700 г", "700 г"],
            },
            {
               "title": "Премиум",
               "values": ["600 г", "700 г"],
            },
            {
               "title": "VIP",
               "values": ["300 г", "700 г"],
            },
         ]
      },
      {
         "img": "products/product-4",
         "article": "#0225",
         "name": "Почта-копилка",
         "price": "1005 ₽",
         "priceOld": "1325 ₽",
         "badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
         choice: [
            {
               "title": "Классик",
               "values": ["550 г", "700 г"],
            },
            {
               "title": "Премиум",
               "values": ["600 г", "700 г"],
            },
            {
               "title": "VIP",
               "values": ["300 г", "700 г"],
            },
         ]
      },
      {
         "img": "products/product-4",
         "article": "#0225",
         "name": "Почта-копилка",
         "price": "1005 ₽",
         "priceOld": "1325 ₽",
         "badge": `<div class="card-product__badge card-product__badge_hit"><span>Хит</span></div>`,
         choice: [
            {
               "title": "Классик",
               "values": ["550 г", "700 г"],
            },
            {
               "title": "Премиум",
               "values": ["600 г", "700 г"],
            },
            {
               "title": "VIP",
               "values": ["300 г", "700 г"],
            },
         ]
      },
   ]
section.products.popular
   .container 
      .header-block.header-block__products
         h2.header-block__title
            span.header-block__text Популярные товары
   .slider-container.container
      .products__slider
         .products__wrapper
            .products__body
               include ../product-card
            .products__controls
               button.slide-arrow.slide-arrow__prev.icon-arrow-prev
               button.slide-arrow.slide-arrow__next.icon-arrow-next


