.category-page {
}

.category {
	&__body {
		display: grid;
		grid-template-columns: 264px 1fr;
		gap: 30px;
		align-items: flex-start;
	}
	&__aside {
	}
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
}
.category-sorting {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 28px;
	position: relative;
	&__label {
		font-family: "Montserrat", sans-serif;
		line-height: math.div(20, 16) * 100%;
		color: $grayColor82;
		display: inline-block;
		margin-right: 16px;
	}
	&__button {
		font-weight: 700;
		font-size: 16px;
		line-height: math.div(22, 16) * 100%;
		position: relative;
		padding-right: 26px;
		&::before{
			content: "";
			position: absolute;
			display: block;
			background: url('../img/icons/arrows-sorting.svg');
			background-repeat: no-repeat;
			background-size: 20px 20px;
			top: 0;
			right: 0;
			width: 20px;
			height: 20px;
		}
	}
	&__list {
	}
}
.dropdown{
	position: relative;
	&__button {
		cursor: pointer;
	}
}
.dropdown-list {
	z-index: 10;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 155px;
	border-radius: 19px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
	background: $whiteColor;
	overflow: hidden;
	margin: 6px 0 0;
	border-radius: 19px;
	overflow: hidden;
	&.show {
		display: block;
	}
	& li {
		background: $whiteColor;
		font-size: 16px;
		line-height: math.div(24, 16) * 100%;
		min-height: 30px;
		border-radius: 19px;
		padding: 3px 16px;
		transition: all .2s linear 0s;
		cursor: pointer;
		&:last-child{
			border-radius: 19px 19px 19px 19px;
		}
	}
	& li:hover {
		background: $pinkColorLight;
	}
}
.dropdown__input-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}
.filter {
	&__body {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 24px;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 28px;
	}
	&__title {
	}
	&__button {
	}
}
.filter-reset {
	font-family: "SourceSansPro", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: math.div(22, 14) * 100%;
	color: $grayColorBD;
	background: none;
}
.filter-group {
	padding: 30px 24px 44px;
	margin: 0 -24px;
	border-top: 1px solid $grayColorBD;
	&__title {
		margin-bottom: 26px;
	}
	&.filter-group__material .filter-group__title{
		margin-bottom: 21px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__slider {
	}
	&__inputs {
		display: flex;
		align-items: center;
	}
	&__label {
		& span {
			display: none;
		}
	}
	&__input {
		display: inline-flex;
		align-items: center;
		text-align: center;
		height: 24px;
		width: 94px;
		border: 1px solid $grayColorBD;
		overflow: hidden;
		border-radius: 5px;
		padding: 2px;
		font-size: 16px;
		line-height: 100%;
		color: $mainColor;
		font-family: "SourceSansPro", sans-serif;
	}
	&__line {
		width: 17px;
		height: 1px;
		background: $grayColorBD;
		display: inline-block;
		margin: 0 5px;
	}
	& .custom-radio {
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
		&::before{
			width: 12px;
			height: 12px;
		}
	}
	& .radiobutton-item:not(:last-child){
		margin-bottom: 14px;
	}
}
.radiobutton-item {
	&__text {
	}
}
