.collect-page {
}
.collect {
	padding-bottom: 64px;
	&__body {
		grid-template-rows: repeat(3, 1fr 30px) 1fr;
	}
	&__item {
		&:nth-child(2) {
			grid-area: 1/11/8/20;
		}
		.item-prize__text {
			max-width: 95%;
		}
	}
}
.collect__item.item-prize--nuts-fruits::before {
	background: url(../img/collect/collect-nuts-bg.svg);
	background-position: 0 100%;
	top: auto;
	border-radius: 10px;
}
