.accordeon {
   padding: 0 0 64px;
}
.item-accordeon {
   &:not(:last-child) {
      margin-bottom: 30px;
   }
   &__header {
      min-height: 64px;
      padding: 20px 40px;
      padding-right: 46px;
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
      font-family: "Montserrat", sans-serif;
      background: $whiteColor;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
      border-radius: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &.active::before {
         transform: rotate(-90deg);
         color: $greenColor;
      }
      &::before {
         color: $grayColorBD;
         transform: rotate(90deg);
         font-size: 25px;
         transition: all 0.3s ease 0s;
      }
   }
   &__content {
      display: none;
      padding: 42px 40px 12px;
      max-width: 90%;
      &.open {
         display: block;
      }
   }
   &__list {
      & li {
         padding-left: 40px;
         font-weight: 400;
         font-size: 16px;
         line-height: math.div(24, 16) * 100%;
         color: $blackColor;
      }
      & li:not(:last-child) {
         margin-bottom: 31px;
      }
   }
}
