.favorites {
   padding-bottom: 130px;
   &__container {
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 30px 29px;
   }
}
