.order-page {
}
.order {
	padding-bottom: 130px;
	&__body {
		display: flex;
		gap: 30px;
	}
	&__payment,
	&__variant {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 31px 30px 24px;
	}
	&__variant {
	}
}
.order-content {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex: 1 1 auto;
}
.payment-order {
	&__title {
		margin-bottom: 21px;
	}
	&__form {
		display: flex;
		align-items: center;
		column-gap: 26px;
	}
	&__group {
		& .custom-radio {
			border: 1px solid $grayColorBD;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			&::before {
				width: 12px;
				height: 12px;
			}
		}
		& .real-radio:checked + .custom-radio {
			border: 1px solid $redColor;
		}
	}
}
.content-title {
}
.radiobutton-item {
	& label {
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	&__text {
		display: inline-block;
		margin-left: 16px;
		line-height: math.div(24, 16) * 100%;
		color: $blackColor;
	}
}
.variant-order {
	&__title {
		margin-bottom: 22px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 14px;
	}
	&__group {
		& .custom-radio {
			border: 1px solid $grayColorBD;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			&::before {
				width: 12px;
				height: 12px;
			}
		}
		& .real-radio:checked + .custom-radio {
			border: 1px solid $redColor;
		}
	}
	&__company {
	}
	&__info {
		font-weight: 600;
		font-size: 15px;
		line-height: math.div(22, 15) * 100%;
		text-transform: uppercase;
		& span {
			font-weight: 700;
		}
	}
}
.company-order {
	padding: 22px 4px 24px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1.1fr;
	gap: 15px;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	&__logo {
		min-height: 60px;
		margin-bottom: 8px;
	}
	&__content {
		text-align: center;
	}
	&__title {
		font-weight: 700;
		line-height: math.div(24, 16) * 100%;
	}
	&__descr {
		line-height: math.div(22, 16) * 100%;
	}
	&__link {
		border-bottom: 1px solid $redColorLight;
		font-weight: 700;
		line-height: math.div(22, 16) * 100%;
		color: $redColorLight;
		text-decoration: underline;
	}
}
.order-data {
	flex: 0 0 360px;
	&__body {
		background: $whiteColor;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
		border-radius: 10px;
		padding: 30px 24px;
	}
	&__title {
		margin-bottom: 26px;
	}
	&__form {
		& .form__button {
			max-width: 100%;
			width: 100%;
		}
	}
}
.order-data__form {
	width: 100%;
	& .form__items {
	}
	& .form__item {
		max-width: 100%;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.focus .form__label {
			top: -10px;
			color: $greenColor;
		}
	}
	& .form__label {
		line-height: math.div(24, 16) * 100%;
		color: $grayColorBD;
		background: $whiteColor;
		padding: 0 10px;
		position: absolute;
		top: 8px;
		transform: translate(16px, 0%);
		pointer-events: none;
		transition: top 0.3s linear 0s;
		&.required::before {
			content: "*";
			position: absolute;
			display: block;
			top: 0;
			left: 4px;
			color: currentColor;
		}
	}
	& .form__input,
	& .form__textarea {
		width: 100%;
		background: $whiteColor;
		border: 1px solid $grayColorBD;
		border-radius: 19px;
		padding: 7px 20px;
		line-height: math.div(24, 16) * 100%;
		color: $mainColor;
		cursor: pointer;
	}
	& .form__textarea {
		min-height: 140px;
		resize: none;
	}
	& .form__text {
		line-height: 24px;
		display: block;
		padding: 19px 0;
		color: $greenColor;
		text-align: center;
	}
	& .form__button {
	}
}
