.products {
   &.popular {
      padding: 89px 0 65px;
   }
   &__slider {
      position: relative;
      overflow: hidden;
      padding: 28px;
      margin: -28px;
      &::after {
         content: "";
         width: 100vw;
         height: 100%;
         position: absolute;
         top: 0;
         right: 15px;
         transform: translateX(100%);
         background-color: $whiteColor;
      }
   }
   &__wrapper {
      width: 100%;
      &.disabled .card-product {
         opacity: 1;
         visibility: visible;
         flex-grow: 1;
         & img {
            transform: translateX(-50%) scale(1);
         }
      }
      &.disabled .products__body {
         gap: 30px;
      }
      &.disabled .products__controls {
         display: none;
      }
   }
   &__body {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 100%;
   }
   &__card {
      flex-shrink: 0;
   }
   &__controls {
   }
}
.slider-container.container {
   max-width: 1260px;
   padding: 0 60px;
}
.swiper-initialized .card-product{
   opacity: 0;
   visibility: hidden;
   & .card-product__image img{
      transform: translateX(-50%) scale(0);
   }
}
.card-product {
   background: $whiteColor;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
   border-radius: 10px;
   position: relative;
   max-width: 263px;
   transition: all 0.3s ease 0s;
   &.swiper-slide-visible {
      opacity: 1;
      visibility: visible;
   }
   &.swiper-slide-visible .card-product__image img {
      transform: translateX(-50%) scale(1);
   }
   &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 23px 20px 18px;
      position: relative;
      overflow: hidden;
      border-radius: inherit;
   }
   &__header {
      margin-bottom: 12px;
      flex: 1 1 auto;
   }
   &__favorite {
      position: absolute;
      z-index: 5;
      top: 19px;
      right: 20px;
      cursor: pointer;
      &::before {
         font-size: 20px;
         color: $grayColorBD;
         transition: color 0.2s ease 0s;
      }
      &:hover::before {
         color: $redColor;
      }
      &.selected::before{
         color: $redColor;
      }
   }
   &__badge {
      position: absolute;
      top: 0;
      left: 0px;
      background-position: -20px -10px;
      background-repeat: no-repeat;
      background-size: auto 100%;
      width: 87px;
      height: 63px;
      &_hit {
         background-image: url("../img/icons/badge.svg");
         & span{
            color: $whiteColor;
            text-indent: 0%;
            transform: rotate(-45deg) translate(9px, -12px);
         }
      }
      &_new {
         background-image: url("../img/icons/badge-new.svg");
         & span{
            color: $mainColor;
            transform: rotate(-45deg) translate(5px, -12px);
         }
      }
      & span {
         display: block;
         font-family: "SourceSansPro", sans-serif;
         font-weight: 700;
         font-size: 16px;
         line-height: math.div(22, 16) * 100%;
      }
   }
   &__sale {
      position: absolute;
      z-index: 5;
      top: 60px;
      left: 20px;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      font-family: 'Montserrat', sans-serif;
      color: $whiteColor;
      &.card-product__sale--pink {
         background: $redColorLight;
      }
      &.card-product__sale--green {
         background: $greenLightColor;
      }
   }
   &__image {
      display: block;
      padding-bottom: math.div(176, 223) * 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-bottom: 6px;
      & img {
         transform: translateX(-50%) scale(1);
         left: 50%;
         max-width: 100%;
         width: auto;
         transition: all 0.5s ease 0s;
      }
   }
   &__article {
      font-family: "SourceSansPro", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      color: $grayColorBD;
      margin-bottom: 1px;
   }
   &__title {
      font-family: "SourceSansPro", sans-serif;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
      font-weight: 700;
   }
   &__body {
      padding-bottom: 14px;
      margin-top: auto;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 10px;
      margin-bottom: 14px;
   }
   &__compare {
      color: $grayColorBD;
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &::before {
         font-size: 20px;
         transition: all .2s ease 0s;
      }
      &:hover::before{
         color: $redColor;
      }
      &.selected::before{
         color: $redColor;
      }
   }
   &__choice {
   }
   &__footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 15px;
      row-gap: 10px;
   }
   &__prices {
   }
   &__price {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: math.div(24, 20) * 100%;
   }
   &__button {
      padding: 10px 25px;
      font-size: 16px;
      line-height: math.div(20, 16) * 100%;
      min-height: 40px;
      font-weight: 500;
   }
   &__delete{
      position: absolute;
      z-index: 5;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.3px solid $grayColorBD;
      color: $grayColorBD;
      border-radius: 50%;
      transition: all .2s ease 0s;
      cursor: pointer;
      &::before{
         color: inherit;
         font-size: 14px;
         transition: all .2s ease 0s;
      }
      &:hover{
         border: 1.3px solid $redColor;
         &::before{
            color: $redColor;
         }
      }
   }
}
   .reviews-rating__list {
      & li {
      display: block;
      margin-right: 3px;
      background-image: url("../img/icons/star-t.svg");
      background-size: 21px 20px;
      background-position: center;
      background-repeat: no-repeat;
      transition:  all .3s ease;
   }
   @for $i from 1 to 6{
      &.r-#{$i}{
         & li:nth-last-child(-n+#{$i}){
            background-image: url("../img/icons/star.svg");
            background-repeat: no-repeat;
         }
      }
   }
}
   
.choice-group {
   background: $whiteColor;
   border: 0.5px solid $grayColorBD;
   border-radius: 19px;
   display: flex;
   align-items: center;
   column-gap: 8px;
   min-height: 30px;
   padding: 3px 11px 4px 14px;
   font-family: "SourceSansPro", sans-serif;
   cursor: pointer;
   position: relative;
   transition: all .15s linear 0s;
   &__wrap{
      position: relative;
      &:not(:last-child) {
      margin-bottom: 7px;
   }
   }
   &:hover {
      background: $pinkColorLight;
   }
   
   &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   &__input {
   }
   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: math.div(24, 16) * 100%;
      margin-left: 8px;
   }
   &__value {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 16px;
      line-height: math.div(22, 16) * 100%;
   }
   &__arrow {
      margin-left: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: $greenColor transparent transparent transparent;
      transition: all .15s ease 0s;
   }
   
}
.choice-group__wrap{
   & .dropdown-list{
      width: 100%;
      top: 0;
      margin: 0;
      box-shadow: none;
      z-index: 2;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
      padding-top: 33px;
      & li {
         padding: 0;
      }
      & .choice-group {
         border: none;
         padding-right: 28px;
         column-gap: 0;
      }
   }
}
.choice-group__wrap.active {
   & .choice-group {
      z-index: 3;
      border: 0.5px solid transparent;
   }
   .choice-group__arrow{
      transform: rotate(-180deg);
   }
   & .dropdown-list{
      display: block;
   }
}
.choice-groups > .choice-group.active{
   & > .custom-radio::before {
      transform: translate(-50%, -50%) scale(1);
   }
}