.accordeon(data-spollers)
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next._active(data-spoller) Как оформить заказ?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					Самостоятельно оформить заказ на сайте можно при переходе в раздел “Корзина”
				li.
					<span class="indicator"></span>
					Обратиться к менеджерам по телефону: +7&nbsp;(831)&nbsp;223-99-69 (пн-пт,&nbsp;8.00-21.00), 
					+7&nbsp;(831)&nbsp;223-99-60(доб.7749)  (пн-пт,&nbsp;9.00-17.00) +7&nbsp;(903)&nbsp;604-92-10, +7&nbsp;(960)&nbsp;199-12-21 (пн-пт,&nbsp;8.00-20.00)
				li.
					<span class="indicator"></span>
					Отправить сообщение на электронную почту: podaroknn@inbox.ru, info@podarok-nnov.ru - мы свяжемся с вами и поможем определиться с выбором упаковки или подарков
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Минимальный объём заказа?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Сколько будет стоить доставка?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) С какими транспортными компаниями вы работаете?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Как узнать есть ли в наличии товар на складе в нужном количестве?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Как оформить заказ?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке
	.accordeon__item.item-accordeon
		.item-accordeon__header.icon-arrow-next(data-spoller) Сотрудничаете с физическими лицами?
		.item-accordeon__content
			ul.item-accordeon__list.indicator-list
				li.
					<span class="indicator"></span>
					В разработке