section.advantages
   .container
      .header-block.header-block__advantages
         h2.header-block__title
            span.header-block__text Подготовка <span class="red">к праздникам</span> станет <span class="green">проще и приятней!</span>
      .advantages__body
         .advantages__item.item-advantages.item-advantages--price
            .item-advantages__icon
               img(src="img/advantages/1.svg", alt="")
            .item-advantages__content
               .item-advantages__title Фиксированные цены
               .item-advantages__text
                  p При 100%-ной оплате заказа стоимость гарантированно фиксируется
         .advantages__item.item-advantages.item-advantages--individual
            .item-advantages__icon
               img(src="img/advantages/2.svg", alt="")
            .item-advantages__content
               .item-advantages__title Индивидуальный подбор
               .item-advantages__text
                  p Мы подберем сладкие подарки для вашего коллектива
         .advantages__item.item-advantages.item-advantages--quality
            .item-advantages__icon
               img(src="img/advantages/3.svg", alt="")
            .item-advantages__content
               .item-advantages__title Качественный продукт
               .item-advantages__text
                  p Сотрудничаем с лучшими кондитерскими&nbsp;фабриками и гарантируем отличное качество