-
	delivery = [
		{
			"title":"Поможем определиться с&nbsp;выбором презента",
			"description":"",
		},
		{
			"title":"Дополним подарок <br> логотипом",
			"description":"",
		},
		{
			"title":"Подберем оптимальный по&nbsp;стоимости вариант",
			"description":"",
		},
		{
			"title":"Доставим в любой город РФ",
			"description":'<p class="item-delivery__description">Доставка по Нижнему Новгороду и&nbsp;области — <span class="red">БЕСПЛАТНО</span></p>',
		},
	]

section.delivery
	.container
		.delivery__body
			.delivery__image
				img(src="img/delivery/car.png", alt="")
			.delivery__content
				h2.delivery__title Мы возьмем на себя все хлопоты по&nbsp;оформлению, подбору и доставке корпоративных подарков:
				.delivery__items
					each item, index in delivery
						.delivery__item.item-delivery
							.item-delivery__icon
								img(src=`/img/delivery/${index+1}.svg`, alt=item.title)
							.item-delivery__content 
								.item-delivery__title!= item.title
								!=item.description ? item.description : ""

