-
	factories = [
		{
			"img":"1.png",
		},
		{
			"img":"2.png",
		},
		{
			"img":"3.png",
		},
		{
			"img":"4.png",
		},
		{
			"img":"5.png",
		},
		{
			"img":"5.png",
		},
	]
section.factories
	.container
		.factories__body 
			.header-block.header-block__factories
				h2.header-block__title
					span.header-block__text в наших <span class="green">подарках</span> конфеты <span class="red">лучших</span> кондитерских фабрик
			.factories-slider._swiper
				.factories__wrapper._swiper-wrapper
					each item, index in factories
						a(href="#").factories__item.item-factories._swiper-slide
							.item-factories__image 
								img(src=`img/factories/${item.img}`, alt="")
				.factories__controls
					button.slide-arrow.slide-arrow__prev.icon-arrow-prev
					button.slide-arrow.slide-arrow__next.icon-arrow-next