section.nuts
   .container 
      .header-block.header-block__nuts
         h2.header-block__title 
            span.header-block__text Орехи и сухофрукты
      .nuts__body.prize-inner
         a(href="#").nuts__item.item-prize.item-prize--sets.item-prize--big
            .item-prize__image 
               img(src="img/nuts/1.png", alt="")
            .item-prize__content
                  .item-prize__text.icon-arrow-link Наборы
         a(href="#").nuts__item.item-prize.item-prize--nuts.item-prize--min
            .item-prize__image 
               img(src="img/nuts/2.png", alt="")
            .item-prize__content
                  .item-prize__text.icon-arrow-link Орехи
         a(href="#").nuts__item.item-prize.item-prize--candied.item-prize--min
            .item-prize__image 
               img(src="img/nuts/3.png", alt="")
            .item-prize__content
                  .item-prize__text.icon-arrow-link Цукаты
         a(href="#").nuts__item.item-prize.item-prize--dried.item-prize--long
            .item-prize__image 
               img(src="img/nuts/4.png", alt="")
            .item-prize__content
                  .item-prize__text.icon-arrow-link Сухофрукты
