section.retail
	.container
		.retail__body
			.retail__image 
				img(src="img/retail/picture.png", alt="")
			.retail__content 
				.header-block.header-block__retail
					h2.header-block__title
						span.header-block__text.
							Покупаем сладкие новогодние подарки <span class="red">в розницу</span> в интернет магазине <span class="green">“Наш Подарок”</span>
				.retail__text
					p В нашем интернет-магазине вы сможете совершить не только оптовые покупки. У нас вы сможете приобрести сладкие новогодние подарки в розницу — от 1 набора не зависимо от его поставщика, наполнения, веса и стоимости. Вы вправе выбрать любой подарок и оформить его доставку в любой город наш страны. Это поможет вам сэкономить свое время, которое отныне не нужно тратить на поездки в розничные магазины и выбор подходящего варианта.
					p Наши менеджеры готовы вам помочь определиться с новогодними наборами независимо от того, совершаете вы розничную или оптовую покупку. Очень важные моменты при выборе презента для ребёнка на праздник — вкусы и возраст.
					p У нас вы можете купить новогодний подарок в розницу для своего ребёнка, детей родственников, коллег и друзей. Вы найдёте сладкий набор на новый год для каждого. Детки будут просто в восторге! При выборе подарка вы сможете отфильтровать все варианты по стоимости и другим интересующим вас параметрам. Это поможет вам значительно облегчить процедуру поиска.
					p Если вам нужно заказать качественные, вкусные и безопасные для детей подарки на Новый Год, то смело переходите в наш каталог и выбирайте то, что понравится вашему ребенку. Заказ осуществляется всего в несколько кликов.
				a(href="category.html").retail__button.btn.btn-green Выбрать подарки 